[2016-03-16 18:35] LoganWright opened #1 "Unable to build on Heroku"
I'm getting several errors related to threading when building on Heroku which is Ubuntu 14.1 I believe:

[code]

Really looking forward to this library, let me know if I can help resolve this issue.

[2016-03-17 11:18] #1 closed

[2016-03-18 14:29] Joannis opened #3 "Authentication"

[2016-03-18 14:29] Joannis opened #4 "Connection Pooling and another TCP Client Library"

[2016-03-18 14:30] Joannis opened #5 "GridFS support"

[2016-03-18 14:32] Joannis opened #6 "Correct error handling"
Currently we throw an "InternalInconsistency" error in almost every place where we're not sure what to feed back.
We need to build in support for proper MongoDB errors and return them in a "swifty" way.

Also we need to get rid of any and all "abort()" and other crashing statements.

[2016-03-18 14:33] Joannis opened #7 "Full support for MongoDB Database Commands"
Administration Commands:

- [x] Drop database
- [x] Create collection
- [x] Clone collection
- [x] Create index
- [x] List indexes
- [x] Drop index
- [x] Create user
- [x] Update user
- [x] Drop user
- [x] Drop all users
- [x] Grant role to user
- [x] Revoke role from user
- [x] Get user info
- [ ] Create role
- [ ] Update role
- [ ] Drop role
- [ ] Drop all roles
- [ ] Grant role

[2016-03-18 14:33] Joannis opened #8 "DBRefs"

[2016-03-18 15:47] Joannis opened #9 "100% documentation"

[2016-03-21 15:40] #3 closed

[2016-03-23 00:14] #5 closed

[2016-03-23 00:14] #6 closed

[2016-03-23 13:30] #9 closed

[2016-04-05 15:46] EddyHahn opened #13 "clang symbols not found"
Hi,
I have all the toolchains setup correctly. When I build from the command line I get a successful build. However when I try to build from Xcode the linker cannot link to the MongoKitten.swiftmodule.

Do I have to use a different version of clang?

Undefined symbols for architecture x86_64:
  "MongoKitten.Server.__allocating_init (at : Swift.String, port : Swift.Int, using : (username : Swift.St

[2016-04-06 08:56] Obbut commented on #13
Are you using the Swift Development Snapshot 2016-03-24-a?

We (me and @Joannis) haven't used MongoKitten with a 'normal' OS X app project, we just `swift build --init` and then `swift build -X`. How did you set up your Xcode project to use MongoKitten?

[2016-04-06 14:14] EddyHahn commented on #13
1) Yes, I am using Swift Development Snapshot 2016-03-24-a?
2) I did the same initialization swift build —init and swift build -X
3) Opened the project file and added to Build Settings -> Swift compiler - Search -> Import Path the path to .build/debug
4) Then I added just ten #iport MongoKitten to main.swift and built.  It was OK.
5) After that I added the example code to the main.swift  (connect

[2016-04-06 15:30] Joannis commented on #13
Could you post your `Package.swift`?

[2016-04-06 15:31] Joannis commented on #13
On another note: Why are you adding an import path?
`swift build -X` should take care of that.

[2016-04-06 15:47] Joannis commented on #13
@EddyHahn I've managed to reproduce the error. Tell me if I'm incorrect:

You've created a project in XCode. Added a package.swift with the required information. Then you've linked the `.build/debug` directory in the `import path`. Ran `swift build` and then you got the error, correct?

Currently XCode does not support SPM (Swift Package Manager) projects by default. So to solve this you'll have t

[2016-04-06 16:39] EddyHahn commented on #13
Thanks!

I do not know what happened but this time around the swift build -X worked and all the packages now show up in Xcode.  Build did work swell and I can debug too!

Thank you Again!

Eddy

[2016-04-06 17:51] Joannis commented on #13
No problem! Good luck with MongoKitten! Just enter another ticket if you need additional assistance.

[2016-04-06 17:51] #13 closed

[2016-04-16 10:36] Joannis opened #14 "Distinct returns a [String]? Should be returning [BSONElement]"

[2016-04-16 12:12] Joannis opened #15 "Deserialize only part of the received message over the socket."
Documents specify their own length. Don't deserialize the contents until we know the message is complete. This way we'll have a lot better performance.

[2016-04-16 12:13] Joannis opened #16 "Support SSL for MongoDB Server connections"

[2016-04-16 12:14] Joannis opened #17 "Slack group for support?"

[2016-04-20 09:22] Joannis opened #18 "So many unit tests"

[2016-04-20 09:23] #14 closed

[2016-04-21 16:58] Joannis commented on #4
Fixed TCP Client Library

[2016-04-24 11:27] adrianbrink opened #19 "Build fails on snapshot 04-12"
Hi,

the library doesn't install on the latest snapshot (04-12)

[code]

Any help will be appreciated.

[2016-04-24 11:48] Joannis commented on #19
Hello @adrianbrink . Currently we're working on MongoKitten 1.0.0 which already supports 04-12. If you want to use MongoKitten on Swift 04-12 use the tag "0.0.0" `majorVersion: 0, minor: 0`.
It is a bit unstable. Not all the new features have been tested and documented by us. Neither in unit tests nor actual usage. And we're still possibly changing the API a little.

If you really want to use Mong

[2016-04-24 12:01] Joannis commented on #19
Update: https://supportkitten.slack.com/

[2016-04-24 13:26] Joannis commented on #16
Should be provoided using the pluggable Socket

[2016-04-24 13:26] #17 closed

[2016-04-24 15:23] #19 closed

[2016-04-24 17:31] adrianbrink commented on #19
@Joannis I would be happy to help. 👍 How do I join the two slack channels? I think you have to invite me. For that purpose you can use: adrian@brink-holdings.com

Thank you for the info, I'll try out "0.0.0".

[2016-04-24 18:59] adrianbrink opened #20 "Compiling into a static library"
Hi,

so I am trying to compile this into a static library, because I need to use SwiftyJSON, which currently doesn't support Swift3. For that purpose I would like to create a MongoKitten.a static library that I can then add to my project.
However when compiling PBKDF2 (I'm guessing) throws me this error.

[code]

Also, how come that there is no .a file being generated in the debug mode?

[2016-04-24 23:58] Joannis commented on #19
@adrianbrink 0.7.0 has been released today. Things could change for 1.0.0 but I doubt most of it will change

[2016-04-25 06:41] Joannis commented on #20
It's BSON, not PBKDF2, that's the problem. To do with reading Documents from Binary. Probably the most important part of BSON/MongoKitten...

It seems to be a bug in the Swift compiler trying to optimize a function that shouldn't/can't be optimized resulting in a crash. We're looking into a fix.

[2016-04-25 07:17] Joannis commented on #20
Fixed the crash

[2016-04-25 07:17] #20 closed

[2016-04-25 07:33] adrianbrink commented on #19
Should I still be using "0.0.0" or now "0.7.0". I am quite new to how SPM handles versions.

[2016-04-25 07:58] Joannis commented on #19
You can use 0.7.0 now

[2016-04-26 01:15] mocode808 opened #21 "No such module BSON in QueryBuilder.swift"
I was having issues using the Swift package manager it would cause my Xcode to crash.

So I added the .swift files for MongoKitten directly into my project and it seems to work fine but I can't compile it because I get an error on the import BSON statement saying no such modules exists.

How do I fix this?

[2016-04-26 08:13] Obbut commented on #21
Are you targeting iOS or OS X? MongoKitten isn't tested on iOS.

I saw your [issue](https://github.com/PlanTeam/BSON/issues/6) on BSON. Were you able to resolve this?

If possible, I would recommend you to create your project as a SPM package (`swift build --init`) and to generate the Xcode project by running `swift build -X`. I have not tried to use MongoKitten without the Swift package manager.

[2016-04-26 13:43] mocode808 commented on #21
The SPM was crashing Xcode for me when attempting to use it with the snapshot so I am trying to install xCode 7.3.1_GM_Seed now to see if that will get the SPM working.

And I am attempting to use this for iOS...IS there any chance it will work with iOS? If not do you know of any better recommendations for iOS ? I need to be able to use GridFS to upload videos :/

[2016-04-26 20:29] Joannis commented on #21
@mocode808 The chance is there. And I'm uploading it in a bit

[2016-04-26 21:24] mocode808 commented on #21
I for the life of me cannot get the Swift Package Manager to work.

Would it be possible to get a tutorial on how to setup the Xcode project to work with Mongokitten without using the SPM?

It would be greatly appreciated. I am intending to use this for my Software engineering class final project and in my presentation at the end of the year I'll make sure to give a huge shoutout and credits to yo

[2016-04-26 21:39] Joannis commented on #21
Honestly.. I've only used SPM. So I'll need to look into supporting Carthage for a package manager.. I can't promise you I'll have it fixed today since it's getting late (midnight). But tomorrow should work!

[2016-04-26 22:33] mocode808 commented on #21
If anything would I be able to send you my xCodeproject file and you add in MongoKitten using the SPM and then send the project back to me with MongoKitten already in it and all the imports for BSON handled? I would gladly pay you whatever price you request in Bitcoin please...

[2016-04-27 15:12] mocode808 commented on #21
I've got the SPM installed and when I run the command: swift build --version

It returns Apple Swift Package Manager 0.1

However I went and created a Package.swift file and put the code you recommend in the readme file into my Package.swift and ran:
xcodebuild TOOLCHAINS=swift

and that returns an error saying no such module exists for PackageDescription in Package.swift.

Any suggestions to fix

[2016-04-27 15:14] mocode808 commented on #21
admins-Mac:~ admin$ swift build --version
Apple Swift Package Manager 0.1
admins-Mac:~ admin$ xcrun --find swift
/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2016-04-25-a.xctoolchain/usr/bin/swift
admins-Mac:~ admin$ swift --version
Apple Swift version 3.0-dev (LLVM 752e1430fc, Clang 1e6cba3ce3, Swift 56052cfe61)
Target: x86_64-apple-macosx10.9

[2016-04-27 15:59] Joannis commented on #21
I think your swift snapshot isn't properly installed. The directory `/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2016-04-25-a.xctoolchain/usr/bin/` exists on my laptop and actually does contain a `swiftc` file.

[2016-04-27 16:01] Joannis commented on #21
@mocode808 would you mind joining us on [Slack](http://orlandos.nl:3000) so I can help you more easily?

[2016-04-28 15:00] Obbut opened #22 "The CreateIndexes method on collection does not throw an error on error"

[2016-05-05 08:16] matteocrippa opened #23 "fatal error: unexpectedly found nil while unwrapping an Optional value"
Hi, I'm experiencing this issue:

[code]

it seems to raise as soon as the db is trying to connect, line [43](https://github.com/boostcode/tori/blob/develop/Sources/tori/main.swift)

[2016-05-06 22:38] Joannis commented on #23
Wow.. sorry for the late reply! I've completely missed this issue.
I've hada  look at your project line 43 and I think the issue is your configuration file. You're connecting to a host on a specific port but the host is incorrect.
There are in MongoKitten two types of connection methods:

This is one method.. where you provide us the hostname, port and optional authentication details.
`let dbServe

[2016-05-06 22:43] matteocrippa commented on #23
Hi @Joannis , thank you for your reply. But what do you mean by the host is incorrect?
At this very moment ```dbHost``` is a string that contains an IP address (e.g.. 192.168.99.100 ).

I managed to test w/ mongoclient and it works fine

[2016-05-07 00:13] Joannis commented on #23
Let me get back to you when I wake up tomorrow morning. I'm not sure why this doesn't work, because it should.

[2016-05-07 09:03] Joannis commented on #23
I don't see why it wouldn't connect. IP addresses work here.

[2016-05-07 09:06] matteocrippa commented on #23
i tried to run with lldb enabled but the report above is what I was able to retrieve, seems that something nil make the app crashing, as I figured out removing auto connect it works, so it seems to be something inside the connect func, but I wasn't able to debug it deeper atm.

[2016-05-07 11:49] Joannis commented on #23
What MongoDB version are you running?

[2016-05-07 11:50] matteocrippa commented on #23
3.2.5

[2016-05-07 11:52] Joannis commented on #23
I almost feel like the host is wrongfully formatted. Maybe it crashes on an extra space in the address?

[2016-05-07 11:53] Joannis commented on #23
Another thing: What version of MongoKitten are you using? And what version of Swift?

[2016-05-07 11:56] matteocrippa commented on #23
MongoKitten 0.8
Swift 04-25

[2016-05-07 17:40] Joannis commented on #23
I really can't figure out why you're unable to connect..

[2016-05-08 17:42] Joannis commented on #23
Could you join me at our SupportKitten slack?

[2016-05-08 17:51] Joannis commented on #23
I found the issue... I copied your file and I noticed your own project is forcefully-unwrapping a variable called `adminExist`

[2016-05-08 17:51] #23 closed

[2016-05-08 18:27] matteocrippa commented on #23
thx!

[2016-05-12 07:52] #21 closed

[2016-05-12 07:52] #4 closed

[2016-05-12 07:52] #15 closed

[2016-05-12 07:56] #22 closed

[2016-05-12 07:56] #8 closed

[2016-05-14 09:34] Joannis opened #24 "2.0.0 roadmap"
Must:
- [x] Proper SSL Support
- [x] 100% Documentation
- [ ] Make final API breaking changes to clean up the code clarity
- [x] Fix `MongoError` messages for more clarity and context. Especially `CommandFailure`
- [x] Rename QueryProtocol
- [x] Return the amount of updated documents in `update`

API Changes:
- [x] Different methods for creating Projection Documents
- [x] Increase the amount of pl

[2016-05-15 11:52] #18 closed

[2016-05-15 11:52] Joannis commented on #18
Moved to #24

[2016-05-15 11:52] Joannis commented on #7
Moved to #24

[2016-05-15 11:52] #7 closed

[2016-05-15 18:00] Joannis commented on #24
Any feedback is appreciated

[2016-05-16 11:21] Joannis commented on #24
SSL support using an external C7 compliant socket library

[2016-05-25 10:32] Obbut opened #25 "Discuss triggers"
In the near future, we should discuss our triggers implementation.

[2016-07-15 09:43] WCByrne opened #26 "Can't run project with MongoKitten package"
I'lll preface this with the fact that I'm still figuring out SPM. I'm trying to check MongoKitten but can't get it to run. A simple `print("test")` in main crashes with a BAD_ACCESS.

Just curious if you have any insight if there is something in the lib that could be interfering. If I swap out MongoKitten for another package, update, and build; everything will run.

As for details I am using 1.3.0

[2016-07-15 09:58] Obbut commented on #26
I think we'll need a few more details.

- Are you using Xcode or building from the command line?
- What's your Package.swift?

[2016-07-15 14:23] Joannis commented on #26
And what's the platform you're running on? macOS or Linux?

[2016-07-15 18:05] WCByrne commented on #26
Hey guys, I'm on macOS 10.11.5. I can build both from command line and xCode but it crashes when I run. In Xcode i get the BAD_ACCESS on my `print("test")` line, from command line just `Segmentation fault 11`.

Package.swift just has MongoKitten, I've tried with various minor versions (and related swift versions)
`.Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 1, mino

[2016-07-15 21:48] Obbut commented on #26
I see. We (me and @Joannis) are currently on 10.12 developer beta, but if you could share your project with us I'll setup a partition with El Capitan and try to reproduce and fix your problem.

Thanks!

[2016-07-15 22:07] WCByrne commented on #26
I have 10.12 on my laptop I will give that a try first.

I just started with a  fresh project in command line with just
- Package.swift
- Sources
   - main.swift (just a single line `print("test")`)

built that but running still give the fault, unless I remove the print("test")

I'll let you know what happens on 10.12

[2016-07-15 22:40] WCByrne commented on #26
Yup, definitely a 10.11 issue. Works fine on 10.12

[2016-07-23 14:11] #26 closed

[2016-07-23 14:11] #25 closed

[2016-07-27 11:53] justmark opened #27 "Question regarding arrays"
Hi,

Great work on this project - my  team has been playing with MongoKitten a fair amount of late, and have run into an issue that I'm hoping you can answer for us.  Our version of Swift is:
3.0-PREVIEW-2 on Ubuntu 15.10.

I created a simple document for this test in Mongo.  It is:

[code]

If we print out the vals array, we end up with:
array(BSON.Document(storage: [60, 0, 0, 0, 1, 48, 0, 0, 0,

[2016-07-27 16:03] Obbut commented on #27
I'm going to look into this either this evening (right now its 18:00 here) or tomorrow!

[2016-07-27 18:15] justmark commented on #27
Thanks - looking forward to hearing from you!

[2016-07-27 19:01] sandmman opened #28 "Segfault after switching from MongoKitten 1.1.0 to 1.2.0"
After updating to MongoKitten 1.2.0 from MongoKitten 1.1.0 , we seem to have a regression bug for the 6/20 snapshot. Our project compiles as expected on El Capitan 10.11 with the xcode-beta 2 and the `DEVELOPMENT-SNAPSHOT-2016-06-20-a` only to immediately crash with a segmentation fault after running the executable.

Below is the stack trace for the error. From the trace frame #1 it fails in BSON/

[2016-07-27 19:23] justmark commented on #27
Hi,

I was using version 1.1.  Just switched to v1.2 and I'm getting an Array response now, and things are working as expected.  Hopefully I didn't waste any of your time.

Thanks!

[2016-07-28 09:54] Obbut commented on #27
[Our BSON library](https://github.com/openkitten/bson) always returns an enum (`Value`) when subscripting a document. `Value` contains the following enum cases:

[code]

A BSON array is really just a document with keys from 0 to x, so the enum case for `array` has a document as it's associated value. Because `Value` can also be, say, a double or a date, it doesn't conform to the `Sequence` protoco

[2016-07-28 11:49] justmark commented on #27
That did the trick.  Thanks.

And thanks for the detailed answer.  Very much appreciated.

[2016-07-28 11:49] #27 closed

[2016-07-28 11:50] Obbut commented on #27
No problem, feel free to open another issue if you have any other questions!

[2016-07-28 11:55] Obbut commented on #28
This seems to be related to [BSON](https://github.com/OpenKitten/BSON). ISO8601DateFormatter isn't available on El Capitan.

I currently don't have acces to a machine running El Capitan, but as soon as I do (somewhere in the next few days) I'll try to reproduce & fix the issue. On the macOS Sierra developer beta everything seems to compile & run just fine.

[2016-08-02 07:56] Joannis opened #30 "rename QueryProtocol"

[2016-08-02 07:57] Joannis opened #31 "Return amount of updated documents in update"

[2016-08-02 07:57] Joannis opened #32 "Return only the identifiers (including string and other possible identifiers) in an insert"

[2016-08-10 16:46] justmark opened #34 "Iterating over docs - super slow"
I'm using 1.4.1 of MongoKitten.

I'm pulling back an entire collection (200 docs) and using Array() so that I preserve the cursor contents after iterating over them.  Each document has about 150 fields, most of which are integer and float values.  Some documents have embedded documents (max 5) that are versions of the main document.

Just iterating over the entire collection, and printing somethin

[2016-08-10 16:49] Obbut commented on #34
Is this also slow when building on release? If so, could you provide some sample data with which you experience the issue so that we can profile it and see where the performance is going?

[2016-08-10 16:55] justmark commented on #34
It wasn't the release version.  I'll try it immediately and get back to you.

[2016-08-10 17:00] justmark commented on #34
In release mode things are much faster.  Its still not as fast as our Ruby/Mongoid version, but the entire process runs in about 8 seconds.

The enabled key is one of the latter fields in the collection.

Thanks for the super fast response!

[2016-08-10 17:08] Obbut commented on #34
Alright. I discussed with @Joannis and he is going to pick this up.

We haven't really used MongoKitten before with documents of this size, and that's currently not part of our testing, so we haven't noticed this problem before. Optimising our BSON performance is something we've been planning on doing on a short term, however, as we want to be just as fast other implementations.

[2016-08-10 19:34] tnobody opened #35 "build-error with swift 07-25"
Hi,

i would like to build MongoKitten. Unfortunately even in an plane project i got following build output:
[code]

I build with the 07-25 Toolchain
[code]

and had a clean project. With the following package.swift
[code]

OS X Version is: 10.11.16

Thanks in advance :)

[2016-08-10 21:04] Obbut commented on #35
We are aware of this issue. We haven't found/implemented a Linux and macOS 10.11 compatible way of parsing ISO8601 dates for BSON, which is needed for the extended JSON parsing functionality.

I'll either look for a solution tomorrow or temporarily disable the date parsing to allow using MongoKitten on all operating systems.

**Workaround**: In the meantime, although this solution is a bit dirty,

[2016-08-10 22:06] Joannis commented on #35
@tnobody I'll be working to fix this in the next version. @Obbut 's workaround is okay for now (if you're not using MongoDB Extended JSON with dated). But I'll add a cross-platform parser.

[2016-08-11 00:15] Joannis commented on #35
Fixed in the newest BSON. Please fetch the dependencies again to solve the issue. And let us know any other issues!

[2016-08-11 00:15] #35 closed

[2016-08-11 12:11] Joannis commented on #34
@justmark I've updated BSON to be more performant on larger Documents. Can you try to fetch the BSON dependency again? BSON 3.5.3 should fix a lot of your issues, so I'm really curious if this fixes your problems.

[2016-08-11 12:16] justmark commented on #34
Sure, I'll give it a try this morning and get back to you shortly.

[2016-08-11 12:53] justmark commented on #34
I need to rename this ticket to "insanely fast."

I tested both in release mode, and just standard build.  With the standard build there is a slight pause (fraction of a second) before results appear.  If I build for release, all the data appears instantly.  The changes you made are even faster than the results we got from our Go version!

Thanks for the quick response on this.

[2016-08-11 13:01] Joannis commented on #34
I'm glad it worked. Thanks for the feedback!

[2016-08-11 13:01] #34 closed

[2016-08-11 20:35] tnobody commented on #35
Hi guys thx for this quick response :)

But I encountered another issue :(

[code]

I just did:

[code]

Setup as described  above

Thanks in Advance

[2016-08-12 06:06] Obbut commented on #35
What is the issue, then? The output you pasted seems fine.

The two warnings will be solved soon but won't stop you from using MongoKitte.

[2016-08-14 19:59] Joannis commented on #28
Fixed in latest MongoKitten/BSON

[2016-08-14 19:59] #28 closed

[2016-09-01 12:08] baxtercr opened #36 "package dependency sock failing to build"
vapour build fails when include mongokitten package.

.Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 1, minor: 4)

ERROR
The dependency graph could not be satisfied (https://github.com/czechboy0/Socks.git

Running Vapor Toolbox v0.8.0
Swift DEVELOPMENT-SNAPSHOT-2016-08-18-a

[2016-09-01 12:10] Obbut commented on #36
We'll release a new version of MongoKitten compatible with 08-18 later today or tomorrow. For now you can use the previous version of Vapor with 07-25-a.

[2016-09-01 13:49] #36 closed

[2016-09-03 12:04] krzyzanowskim opened #37 "CryptoSwift licence and acknowledgment"
Hi, according to this [License](https://github.com/krzyzanowskim/CryptoSwift/blob/master/LICENSE licence):

do you mind add acknowledgment to README.md?
thanks.

[2016-09-03 22:13] Obbut commented on #37
Whoops, sorry for that. We previously depended on a fork of CryptoSwift for cryptography but last week I included the code as a temporary to prevent a module name collision with some packages. In the rush to get the new version of MongoKitten out and compatible I totally forgot about this.

I have updated the readme.

[2016-09-03 22:13] #37 closed

[2016-09-05 00:35] harryhope opened #38 "swift build command fails with syntax error"
Hi There!

I'm having trouble building MongoKitten via `swift build`, when I run the command, I get a bunch of errors similar to the following, all appearing to come from code in `MongoCryptoEssentials`.

[code]

As far as I can tell, I'm executing the proper version of Swift:

[code]

Have you run into this problem before? Am I doing something wrong?

[2016-09-05 00:47] harryhope commented on #38
Ah, scratch that:

Specifying the path of the binary and running build that way seemed to work. So this must be an issue with `swiftenv` or the way I've set it up.

[code]

[2016-09-05 00:47] #38 closed

[2016-09-05 01:16] marlon-sousa opened #39 "Installation problems"
Hello,

My name is Marlon.

I am a software developper, but I am not used to systems like GitHub.

I am interested in your project but couldn't find any other way to talk to you other than openning an issue.

If I should contact you by another way, please let me know.

I have tried to install the mongoKitten library on my Mac (late 2013, Macbook Air, mac OS 10.11.5, Xcode 7.3.1 ) but couldn't make

[2016-09-05 05:59] Joannis commented on #39
@marlon-sousa We don't currently support Swift 2.2 anymore with MongoKitten 1.5. If you prefer using carthage we'd recommend sticking to `MongoKitten 1.1` by using `github "OpenKitten/MongoKitten == 1.1.0`. Otherwise you can upgrade to the latest supported Swift 3 snapshot.

For Swift 3 you can install [swiftenv](https://swiftenv.fuller.li) to manage your snapshots. Enter the MongoKitten directory

[2016-09-06 00:57] marlon-sousa commented on #39
Hello,

Thanks for the response.

I however am still having problems with installation. although not the original related problem.

Now, I got an error due to a file not found problem. Logs pasted below:

** BUILD FAILED **

The following build commands failed:
	CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(1 failure)
<unknown>:0: error: no such file or directory: '/Users

[2016-09-06 09:09] Joannis commented on #39
@marlon-sousa I'm unsure if we'll be able to fix any issues with Carthage anymore since we dropped the support in favour of SPM. Is there any reason you're using Swift 2.2 instead of the soon to be released Swift 3.0? I think I'd be able to better assist you if you'd use a newer Swift version.

Are you working on a server project? Or a macOS/iPhone/iPad application?

[2016-09-06 11:39] marlon-sousa commented on #39
An iphone app. As I understand it: Xcode 7.3 is only able to compile  Swift 2.2 . Ass Xcode eight is still beta the, I don't think I can use it for my project now. Are  binaries compatible? If they are, I can use Xcode eight to compiled the library and then use it in Xcode 7.3 in my project.
If there are ways to use swift tree in Xcode 7.3 I would be very happy smile.

Obrigado,
Marlon Brandão de

[2016-09-06 11:45] Joannis commented on #39
@marlon-sousa We're not compatible with Swift 2.2/2.3 and we're not supporting Xcode 7.3 anymore. The binaries aren't compatible but Xcode 8.0 and Swift 3.0 are really close to release.

[2016-09-08 08:45] Obbut commented on #39
I'm closing this issue for now. The GM's of Xcode 8, macOS 10.12, iOS 10, tvOS 10 and watchOS 3 are out now so the final versions will be released very soon. The version of Swift included with the final release of Xcode 8 will be the version supported by MongoKitten and that would allow you to include it in apps on the app stores.

Feel free to open another issue if you encounter any other problem

[2016-09-08 08:45] #39 closed

[2016-09-08 08:48] Obbut commented on #32
Closed and added to #24

[2016-09-08 08:48] #32 closed

[2016-09-08 08:48] Obbut commented on #31
Closed and added to #24

[2016-09-08 08:48] #31 closed

[2016-09-08 08:48] Obbut commented on #30
Closed and added to #24

[2016-09-08 08:48] #30 closed

[2016-09-24 20:49] seivan opened #42 "Cursor timeouts"
I get hit with this
`
fatal error: Error fetching extra data from the server in MongoKitten.Cursor<heroku_6pxt0cxh.browseitems> with error: timeout: file /tmp/build_0e4a544672ea566050f30beb848fe070/Packages/MongoKitten-1.7.0/Sources/MongoKitten/Cursor.swift, line 79
`

Doesn't matter, happens on both read and writes.

I suspect it's related to https://jira.mongodb.org/browse/SERVER-8188

Any takes

[2016-09-25 07:43] Joannis commented on #42
Are you storing this cursor for use after 10+ minutes? If that's the case, then yes, that should be happening. Otherwise I'll need to investigate into this.

[2016-09-25 09:31] seivan commented on #42
I'm assuming after the request it would go away on its own. Not storing anything.

Sent from an iPhone on the go.

[2016-09-25 15:43] Joannis commented on #42
It should.. Let me check into it more deeply. Does this error occur often?

[2016-09-25 15:45] seivan commented on #42
Once it occurs (Heroku btw) it stays until I restart dynos.

[2016-09-26 15:00] Joannis commented on #42
We have confirmed your bug today in our own environment. Sadly it was build on release mode when it happened and we didn't manage to extract any data from it except for MongoKitten throwing a timeout. The cause is still unknown although I expect we'll solve it in the next days with our new connection system in the works.

We did however not need to reboot our application in our environment using M

[2016-09-27 21:11] seivan commented on #42
@Joannis Well, I am assuming I got limited connections and the Dyno keeps a reference to them until it goes to sleep.
I feel like they should die once the query is complete and the context falls out. I am *guessing* there might be a memory leak. I'll dig some more. 👍

[2016-09-28 16:14] Obbut commented on #42
I solved this on the mongokitten2 branch.

[2016-09-28 18:34] Joannis commented on #42
We'll issue another patch soon. It'll also be tagged `0.0.5`, so you'll have to re-fetch the MongoKitten dependency. This fixes all unexpected timeouts. It affects 1/512 Documents due to an error in the socket library we're using by default, which might also be a Document you have.

[2016-09-30 07:39] Joannis commented on #42
@seivan is your issue solved with 0.0.5?

[2016-09-30 07:44] seivan commented on #42
I will try it this weekend. I’m using Vapor and Swift packages if that makes any difference.

[2016-10-05 15:31] Joannis commented on #42
Have you experienced additional issues last weekend?

[2016-10-06 08:27] seivan commented on #42
I haven't had a chance unfortunately. You guys haven't experienced it again on Heroku?

[2016-10-06 09:44] lneoe opened #44 "A question about the `_id == .null`,"
when create a new document, only the `_id == .noting` been handled

[code]

question is the `_id == .null` should be covered, or just handle this in my own program?

[2016-10-06 10:37] Obbut commented on #44
The _id can only really be null when explicitly set on the side of the api user, so why would we? Shouldn't really hurt either, though, since I don't think it's really valid to use null as an _id in mongodb. I'll discuss this in more detail with @Joannis later and come back to you.

[2016-10-07 12:31] sujaykakkad opened #45 "Cannot create dynamic Document for arrays and nested jsons"
[code]

[code]

Why do you need Document type and why can't we create it dynamically?

Please provide JSON or Dictionary datatype support for queries in mongodb or atleast provide raw query support so that we can use raw strings to query mongo database

[2016-10-07 19:46] Joannis commented on #45
I'll need to discuss with @Obbut if we can support JSON queries, and if so, how we'll implement it.

But about creating Document types dynamically, you can.

Our MongoKitten/BSON libraries support three methods of building documents.

- literals
- Value enum cases
- variables that are prefixes with the `~` operator (which converts them to a Value enum case

So your example code should be able to l

[2016-10-07 19:48] Joannis commented on #42
We're not using heroku, so I can't tell you that. We have experienced the issue in other environments which have been solved for us.

[2016-10-10 06:16] maxydon opened #46 "initting the Server with config file?"
Hello I was wondering how can I init a Server object automatically with the ./Config/secrets/mongo.json information?

[2016-10-10 07:46] Joannis commented on #46
I think this is an issue with VaporMongo rather than MongoKitten. We don't use configuration files at all. VaporMongo has a [file](https://github.com/vapor/mongo-provider/blob/master/Sources/VaporMongo/Provider.swift) that initializes an object using a configuration file.

It's JSON seems to look like this:

[code]

The host and port seem optional and default to `localhost:27017`.
That's as far as

[2016-10-10 08:09] maxydon commented on #46
I'm not sure Iunderstand the asnwer: with vapor mongo I can i could create the mongo.json file and initialize the db with `Droplet(providers: [VaporMongo.Provider.self])` but since I'm using mongoKitten instead, i have to create the server with all the information in the app.swift (if i'm not missing something).

[2016-10-10 08:14] Joannis commented on #46
If you're using MongoKitten directly you'll need to parse the configuration file manually (or using Vapor) and pass the config file information to `MongoKitten.Server` yourself. We don't support config formats like Vapor's by default. But I'm sure that if you're using Vapor you can create or get a `Config` object. Then you'll need to extract the information from the config object like Vapor does [

[2016-10-10 08:18] Joannis commented on #45
Ah.. I understand the problem here.
So when you initialize a `Document` using `Data` or `[UInt8]` it's expecting BSON data, not JSON.
BSON is the format behind MongoDB. It's really fast and type safe, but not compatible with JSON. However, your JSON data can be parsed by our JSON library. We're using it ourselves without a problem.

`Document(extendedJSON: myJSONString)` will tell our BSON library

[2016-10-10 09:24] sujaykakkad commented on #45
Thanks it worked as expected. Is there any method for array of jsons?
eg:

[code]

[2016-10-10 13:18] Joannis commented on #45
Works the same way. `extendedJSON` also parses arrays as the top level element. It'll output a Document that's formatted as an Array.
This looks in swift like this:
[code]

This can be converted to a real array, if you want, like this:
[code]

These documents you can bulk-insert or insert one-by-one.

[2016-10-10 13:49] Joannis commented on #24
@Obbut MongoDB text index helpers? For creating search indexes and searching through databases?

[2016-10-10 20:52] rptony opened #47 "Can't query nested array"
I have a document of the following format.

[code]

There is no way to query the embedded array with `Query` builder. How would you `find` the record `"Name" == "Brad"`

[2016-10-10 21:03] Joannis commented on #47
For this I'd use a raw Document rather than the query builder. The query builder isn't sophisticated enough for more complex queries just yet.

However a raw Document gets to use all of MongoDB's features like searching through text indexes, and looking through arrays.

So what I'd do is use [elemMatch](https://docs.mongodb.com/v2.6/reference/operator/query/elemMatch/) to search through the Array

[2016-10-10 21:23] rptony commented on #47
That returned the entire  document. (Had to stuff a `$` prior to `elemeMatch`)
[code]

[2016-10-11 06:54] Joannis commented on #47
Ah.. I didn't know you only wanted to fetch the subdocument.

[2016-10-11 12:56] seivan commented on #42
@Joannis Still happens here.
fatal error: Error fetching extra data from the server in MongoKitten.Cursor<heroku_6pxt0cxh.browseitems> with error: timeout: file /tmp/build_71afc0cce7aa23eb54df22e1d65f59c7/Packages/MongoKitten-1.7.0/Sources/MongoKitten/Cursor.swift, line 79

[2016-10-11 12:57] Joannis commented on #42
Can you provide some more details about your request and expected response?

[2016-10-11 13:11] seivan commented on #42
This is just fetching the entire collection without any predicates or queries. If you have an email I could invite you to an isolated sample on Heroku.

Sent from an iPhone on the go.

[2016-10-12 12:43] sujaykakkad commented on #45
Actually I want it work like multiple documents.
If I get an array of jsons then it should work like insert[document, document]
Also is there any library that can convert swifty json object to document directly?

[2016-10-12 18:33] Joannis commented on #45
Do you mean a `[String]`? because you can map those.
[code]

As for SwiftyJSON, we don't support it out of the box. Writing a converter shouldn't be too difficult, but it might not be something we'd like to support for various reasons.

[2016-10-13 06:15] sujaykakkad commented on #45
I am creating 2 APIs
One which gets only one json and insert it to mongo
Another which gets an array of jsons and inserts it in separate documents in mongo
So I am getting a request which is entirely string
eg
[code]
So the first one should insert the json document to mongo
The next one should insert 2 separate documents to mongo

[2016-10-13 09:07] Joannis commented on #45
[code]

Before you process this information by inserting it directly into the database I'd *highly* recommend validating the input BSON. We've wrote some helpers for API Pagination, input validation etc [in this repository](https://github.com/OpenKitten/VaporMongoKitten). Due to the amount of work the two of us are facing (the two of us, being the only active contributors to OpenKitten) we can't a

[2016-10-13 13:32] sezgin opened #48 "cant connect mlab replicaset"
this example is my problem
`server = try Server("mongodb://heroku_xxxxx:xxxxxxx@serveraddress.mlab.com:23372,serveraddress-a1.mlab.com:23372/xxxxxxx?replicaSet=rs-xxxxxx", automatically: true)`
thow error, MongoDB is not available on the given host and port Socket failed with code 61 ("No data available") [connectFailed] "Unknown error"

[2016-10-13 13:37] Joannis commented on #48
Sorry about this @sezgin, we didn't implement replica support yet. I can start working on the feature tomorrow afternoon at best. But I'll need to set up a replica first, which is going to cost me some time as well. Best case scenario we'll have the feature implemented somewhere next week... but in MongoKitten's beta branch. We've been (re)working/optimising a lot lately, and backporting this woul

[2016-10-13 13:38] Joannis commented on #48
Which MLab subscription are you using? This might be useful information for me if I decide on hiring a testing bench.

[2016-10-13 13:48] sezgin commented on #48
https://www.mlab.com/plans/
Dedicated
Cluster plans

[2016-10-13 13:55] sezgin opened #49 "Documents array doesnt use Array<AnyObject( or other)>"
when using Vapor framework that is best swift framework
query result [Document] that is array, but json engine cant convert this, it needs [AnyObject]. and Document object cant allow downcase [AnyObject].

I think Documents has return [AnyObject] option because for example i want to return all users list, i should loop in Object to convert Json engine valid type

<img width="305" alt="ekran resmi

[2016-10-13 13:55] Joannis commented on #48
I definitely can't afford one of those 😬 But I'll have a look if I can manage to afford a shared replica for 15 dollars a month. I'm unsure if success on my side would translate into a success on your scale as well... but that's a worry for later.

[2016-10-13 13:58] sezgin commented on #48
its same not free plans. you can test it, i think it give same result other plans, and mongokitten good now but it will be amazing 👍

[2016-10-13 14:00] Joannis commented on #49
We have a JSON parser/serializer build into our Documents. It's not as battle tested as the rest of the JSON parsers/serialisers but has proven to work in all our conditions.

We don't currently support any other JSON formats except as a String. But you could map a BSON Document to SwiftyJSON, Vapor JSON and other objects manually or convert via String, however converting via strings wouldn't be v

[2016-10-13 14:08] Joannis commented on #48
Are you using SSL on your server? If that's the case then you should be using our beta 2.0.0. It'll be changing a lot in the coming days still. So if you're using this I'd recommend not running a production environment. But it'll have support for SSL when using `swift build -c release -Xswiftc -DTLS` on the CLI or when placing a `TLS` flag in the compiler conditions in your Xcode project [as descr

[2016-10-14 07:51] sujaykakkad commented on #45
Thanks for the solution it is working great. I am doing input validation before converting to Document. Also can you tell me how can I handle the error on if the connection is closed?

[code]
The mongo connection is established then the mongod service is stopped so this will throw an error. However I am not able to catch the error in my catch block.

The error is somehow stuck in some loop
[code]

[2016-10-14 14:26] Joannis commented on #45
This is a bug we've fixed in [2.0.0](https://github.com/OpenKitten/MongoKitten/releases/tag/2.0.0). Until we're able to get our new API for Documents (which I hope to have fixed this weekend) there's no guarantee when we'll release the final version. Until then you'll have to keep up with our changes.

I'm unable to backport this to MongoKitten 1.x, so I'm afraid I can't help much with that beyond

[2016-10-17 05:58] sujaykakkad commented on #45
Ok that won't be any problem for now. There is also another bug when I turn off my system and then turn on the mongod service is still running but the monogokitten never connects in first try. After sometime it gets connected I don't know how. It always shows this error when trying to connect for the first time when the system is turned on.

[code]

Try to fix this issue as well in version 2

[2016-10-18 08:51] HaraKikiri opened #50 "Problem connecting to localhost"
I can't seem to be able to figure this out ...
Every time I use the simple sample code connecting to localhost I get

There are no issues when I connect to mLab.
Why could this be? Mongo is running locally and if I connect in a second terminal with the 'mongo' command everything works fine. I connect to "mongodb://localhost", have tried adding the correct port too, but no luck!

[2016-10-18 09:24] Joannis commented on #50
How are you creating the `Server` object?
`Server("mongodb://localhost")` should work `Server(hostname: "mongodb://localhost")` shouldn't.
MongoKitten 1.7 has some very unnatural initializers.
If this doesn't solve your problem, changing from `localhost` to `127.0.0.1` could

[2016-10-18 09:43] HaraKikiri commented on #50
I used

And changing from `localhost` to `127.0.0.1` actually worked. Thanks a lot for everything!

[2016-10-18 09:43] #50 closed

[2016-10-19 11:07] pkcs12 opened #51 "Failed to compile"
Package.swift

[code]

I'm trying to build template project which vapor generates. The only change I'm doing is adding dependency to beta MongoKitten. With this dependency it fails to build on Ubuntu.
Compiler fails with the following error:

[code]

Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-38-generic x86_64)
Vapor Toolbox v1.0.3
Swift version 3.0-dev (LLVM b9bd56d1b8, Clang 23f1b289cf, Swift edd2ecdf0

[2016-10-20 08:53] Joannis commented on #51
Thanks for the report! It seems like this is a CryptoKitten bug rather than a MongoKitten. Luckily we're the same developers 👍

The compiler fails on your server/computer because it's probably at least a bit weaker than mine.

I've pushed an update to the affected package which might solve it. So please report back if it doesn't.

[2016-10-20 09:05] 1024kilobyte opened #52 "Sorting in find seems to be ignored"
The "sortedBy" parameter seems to be ignored in findOne. The query itself is working and returning data, but always the the first in the database. Quering the database from the shell gives the correct result:

`
db.data.find({userToken: "ztJTb5kmODfBcbP-Em7n"}).sort({date: -1}).limit(1)
`

My code basically looks like:

[code]

[2016-10-20 10:37] Joannis commented on #52
Could you try `let sortDocument: Document = ["date": .int32(-1)]` ? It might be caused by your `-1` being an `Int64` instead of `Int32`.

[2016-10-20 11:24] 1024kilobyte commented on #52
@Joannis: Thanks for your quick reply, unfortunately I did already try this with no effect...

[2016-10-20 15:36] pkcs12 commented on #51
Now I see this:

[code]

[2016-10-21 10:41] Joannis commented on #51
If you remove the `Packages` folder, and specifically/especially `CryptoKitten-0.0.2` I hope that fixed it.

[2016-10-21 10:41] Joannis commented on #52
What MongoKitten version are you running?

[2016-10-21 10:58] Joannis commented on #51
Of course the official method is `swift build --clean dist`. Sorry 😁

[2016-10-21 11:17] 1024kilobyte commented on #52
As I installed it yesterday it should be version 1.7.1 based on my SPM entry:
`.Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 1, minor: 7),`

[2016-10-21 11:17] pkcs12 commented on #51
I'm always doing `vapor clean`, or `sudo vapor clean` before building it again, just to be sure that dependencies will be fetched correctly.
I just noticed that the same code compiles without any problem on macOS. From today I see different compile errors on my Ubuntu:

[code]

Now something missed in BSON. But again - same code compiles on macOS

[2016-10-21 12:28] Joannis commented on #51
@pkcs12 which swift version are you running?

[2016-10-22 01:06] Joannis commented on #52
@1024kilobyte I'm sorry. I can't find any reason why it doesn't sort properly for you. I've looked through the code over and over again but nothing seems to be out of order, strangely enough.

[2016-10-24 07:09] edulopez44 opened #53 "Failed to compile Ubuntu 16.04"
/Packages/MongoKitten-1.7.1/Sources/MongoKitten/GridFS.swift:161:41: error: cannot convert value of type 'Int64' to expected dictionary value type 'Value'
                                   "n": ~Int64(n),
                                        ^~~~~~~~~
                                        Value(   )

MongoKitten fails to compile on ubuntu 16.04

[2016-10-24 08:43] 1024kilobyte commented on #52
@Joannis: I finally found the reason for my problem and it was all my fault. The database server has been updated while running, which means only the shell has been updated. So in the Terminal I always saw:
`MongoDB shell version: 3.2.10`

Debugging through MongoKitten showed that the database had a maxWireVersion of 2. So I realized that the database was still on version 2.6.3. Stopping and resta

[2016-10-24 08:43] #52 closed

[2016-10-24 09:00] Joannis commented on #52
No problem :) Thanks!

[2016-10-24 13:17] Joannis commented on #53
We're not supporting 1.7.1 anymore. I'll see when I can release a patch for this. If you want to have this issue resolved quickly I'd recommend updating to the mostly-compatible MK 2.0 release.

[2016-10-24 13:17] Joannis commented on #51
I can't replicate this issue on Swift 3.0

[2016-10-24 15:11] pkcs12 commented on #51
Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-38-generic x86_64)
Vapor Toolbox v1.0.3
Swift version 3.0-dev (LLVM b9bd56d1b8, Clang 23f1b289cf, Swift edd2ecdf0c)
Target: x86_64-unknown-linux-gnu

[2016-10-25 09:18] Joannis commented on #53
As a clarification @edulopez44. We do not support 1.7.1, so we can't promise you an update. But I think it's important/relevant enough to fix this soon.

[2016-10-25 09:19] pkcs12 commented on #51
I tried to use non-beta release and there is another error now in GridFS.swift:

[code]

My Package.swift file:

[code]

Guys, please suggest something

[2016-10-25 13:06] Joannis commented on #51
@pkcs12 I've tried everything to reproduce it. I've ran this on Swift 3.0 on both Linux (Ubuntu 15.10 and 16.04) as well as macOS Sierra. Due to [financial problems and a lack of time(https://github.com/OpenKitten/MongoKitten/wiki/Project-status) I can't commit a lot of effort into MongoKitten at the moment. The only things I can suggest are cleaning your dependency folder and updating to MongoKit

[2016-10-25 21:34] Joannis commented on #53
What xcode version are you running @edulopez44 ? I think you're running a beta version of Xcode with an older beta version of Swift 3.0.

[2016-10-25 21:35] Joannis commented on #51
@pkcs12 I think I see what's going on. You're running a version of swift that's in beta. Due to this the compiler can't parse that line of code correctly throwing an error. If you switch to the latest release version of Swift 3.0 you should be fine.

[2016-10-26 06:31] wpccolorblind opened #55 "Compile Error on Download + Clean Build with Xcode 8.1"
1. With Xcode 8.1
2. Download latest master
3. Build MongoKitten

Expected -
Builds.

Actual -
Two compiler errors (see attached).

Error text:  <path>/MongoKitten-master 2/Sources/MongoKitten/Cursor.swift:70:32: Cannot convert value of type 'Int64' to expected dictionary value type 'Value'

![screen shot 2016-10-25 at 11 29 08 pm](https://cloud.githubusercontent.com/assets/735111/19715568/f6d43e9

[2016-10-26 13:13] pkcs12 commented on #51
Ok, could somebody please tell me how to install non-development version of swift 3.0 on Ubuntu 16.04.1?
I tried with swiftest, and manually - but there are only 2.x and 3.0-dev, there is no 3.0 release. Maybe it's only available for macOS?

[2016-10-26 13:27] Joannis commented on #51
Shouldn't the [september 13](https://swift.org/download/#releases) release work?
I ran that with no compilation problems.
Otherwise you might be able to use swiftenv to install `3.0-RELEASE` and default to that using `swiftenv global 3.0-RELEASE`

[2016-10-26 13:41] pkcs12 commented on #51
I only see release for Ubuntu 14 and 15, but not for 16
[code]

[2016-10-26 16:43] JustinM1 commented on #55
I had that issue in another spot on another version of xcode but it appears to be happening in other spots as well, it seems to be a compile bug. In this case, change it to Value.int64(self.cursorID) or .int64(self.cursorID). The ~ is supposed to tell compiler it is a Value type but its not picking it up in certain situations. Make sure to remove ~ when you change it to .int64.

[2016-10-26 16:45] JustinM1 commented on #53
See #55 for solution

[2016-10-26 16:58] Joannis commented on #55
@wpccolorblind we ( @JustinM1 and I ) found the solution. Working on it!

[2016-10-26 19:59] Joannis commented on #55
Latest release should've fixed your problem

[2016-10-26 19:59] Joannis commented on #51
@pkcs12 We found a bug just now with an operator being ambiguous and swift not always finding the relevant one. Not sure when it's affecting users but we made sense of why. So if you fetch the latest version it *should* be fixed.

[2016-10-26 22:19] wpccolorblind commented on #55
Confirmed fix with latest release.  Works great, you guys are amazing!

[2016-10-27 07:48] darkermatter opened #56 "Cannot use MongoKitten with Vapor HTTP"
I'm new to Swift and I'm probably missing something. I can't compile after importing MK and Vapor HTTP as there is a clash with Server:
[code]
Is there a way of importing MK into a namespace?

[2016-10-27 07:49] Joannis commented on #56
You could use `MongoKitten.Server`

[2016-10-27 07:50] Joannis commented on #42
@seivan I looked back at your last error report and it reports 1.7.0 being used. We fixed the bug in 1.7.1 and 2.0.0.

[2016-10-27 07:52] darkermatter commented on #56
Wow @Joannis - thanks!

I didn't even have time to take a swig of my coffee!

Closing.

[2016-10-27 07:52] #56 closed

[2016-10-27 12:05] Joannis commented on #45
@sujaykakkad Are you using MongoKitten 2.x? This should be fixed now. I'd like to hear if you're still experiencing issues

[2016-10-27 18:10] philcms1 opened #57 "Argument labels '(_:, automatically:)' do not match any available overloads"
Hi, following the tutorial:

`
dependencies: [
        .Package(url: "https://github.com/vapor/vapor.git", majorVersion: 1, minor: 1),
        .Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 2, minor: 0)
    ]`

Code:

`
import MongoKitten
let server: Server
server = try Server("mongodb://localhost:27017", automatically: true)
`

I am getting this error when building:

[2016-10-27 18:13] Joannis commented on #57
`let server: Server server = try Server(mongoURL: "mongodb://localhost:27017", automatically: true)`

The `mongoURL:` is required

[2016-10-27 20:48] philcms1 commented on #57
Thanks! I didn't even see that... I should just take the plunge and do a PR for the documentation...

[2016-10-27 20:48] #57 closed

[2016-10-28 09:41] darkermatter opened #58 "Connect works without a running MongoDB server"
I'm more or less using the code from the tutorial:

[code]

As a test I stopped the MondoDB server:

[code]

The app runs fine and just hangs when trying to insert a document into a collection. I looked at the source of Server.swift (bearing in mind that I only started using Swift yesterday) and the connect() method looks weird so I can't debug it.

[2016-10-29 09:50] Joannis commented on #58
Ah.. I see. So MongoKitten's Server will initialize without the other end actually running. The reason we allow this to happen is because the biggest use case scenario for this driver is server applications. So let's say if you lose connection with MongoDB for whatever reason you wouldn't want your server application to crash because of it. You'd want to throw `500` internal server errors until it

[2016-10-30 01:25] sebastienwindal opened #59 "Server initializer does not decode percent characters from mongodb:// url"
I tried to pass a mongodb:// url with a password that contains an @ symbol like this one:

[code]

the server init is not decoding percent characted when extracting user and password from url

[code]

Using `removingPercentEncoding`  fixed my issue:

[code]

[2016-10-30 08:55] prakaashkpk opened #60 "Query Builder doesn't work with ISODate"
MongoDB Collection has field `scheduledDepartureTime` which is stored as `ISODate` in DB
[code]

Swift Code Snippet:
[code]

Output:
The result returned from DB is nil.
[code]

[2016-10-30 08:57] #60 closed

[2016-10-30 15:33] darkermatter commented on #58
So, how do I throw a 500 if I can't catch the connection problem in the first place? Then later, the code which actually tries to write to the database just hangs.

[2016-10-31 07:30] Joannis commented on #59
The latest MongoKitten 2 version has this implemented now. Feel free to close the issue if it's working for you :)

[2016-10-31 07:46] Joannis commented on #58
You're completely right, sorry about that! I'm going to look into a way to solve this which might be difficult and take some time.

[2016-10-31 07:52] Joannis commented on #58
Which MongoKitten version are you running by the way?

[2016-10-31 07:54] darkermatter commented on #58
url: https://github.com/OpenKitten/MongoKitten.git", majorVersion: 2, minor: 0

[2016-10-31 08:12] Joannis commented on #58
When you're executing a command/query on the database, are you being thrown any error? Or none at all?

The part where MongoKitten keeps running when MongoDB goes offline is not a bug, it's a feature.
If you restart MongoDB or have a small connection issue I think it's better to keep attempting to reconnect.

[2016-10-31 08:13] darkermatter commented on #58
I'll do a couple of tests and let you know

[2016-10-31 09:26] darkermatter commented on #58
With the MongoDB server running, everything was fine with the document insertion. I then stopped MongoDB and tried again and the request timed out after about 30 seconds with this:
[code]
I then restarted MongoDB and refreshed the insert url. The page still timed out. So, the feature you mention is working as expected :-(

Perhaps ```automatically: true``` could also be accompanied by ```reconnect

[2016-10-31 09:27] darkermatter commented on #58
Maybe ```automatically: true``` could also mean both

[2016-10-31 10:24] pkcs12 commented on #51
now this error:
[code]

Dependencies in Package.swift:

[code]

[2016-10-31 15:24] #59 closed

[2016-10-31 17:27] Joannis commented on #58
@darkermatter I'm going to remove the `automatically` as it doesn't *really* serve a useful purpose right now.

If you'd like I can add a method to validate the availability of the server.

[2016-10-31 17:30] Joannis commented on #55
I'm closing the issue since it's fixed. Feel free to open this/another issue when you have a question/problem.

[2016-10-31 17:30] #55 closed

[2016-10-31 17:30] Joannis commented on #51
What OS are you compiling at? This issue should only rise at operating systems that aren't Linux, iOS and macOS.

[2016-10-31 17:31] Joannis commented on #53
@edulopez44 is this fix working for you?

[2016-11-01 07:25] sujaykakkad commented on #45
So here is what I did. I created a singleton static object of server connection.
[code]

So then I connect using connect method get server connection

Then I use this object to query database in other function
[code]

After I use connect method to connect to database I stop mongod service
So it tries to reconnect to mongo and if I start again it connects and gives result
If I start and stop mongd

[2016-11-01 16:09] pkcs12 commented on #51
I posted this information earlier: Ubuntu 16.04.1

[2016-11-01 18:22] Joannis commented on #51
Oops. Sorry! I'm getting confused a bit! Swift 3.0.1 does have a 16.04 release and 3.0.0 can be ran by installing the ubuntu 15.10 release.

[2016-11-02 19:41] owenworley opened #61 "Dash documentation link broken"
There is an `Install in Dash` button on this site:
http://openkitten.github.io/MongoKitten/docs/

The link currently points to: http://planteam.github.io/MongoKitten/MongoKitten.xml which 404s.

It looks like this link should actually be: http://openkitten.github.io/MongoKitten/MongoKitten.xml

However, the contents of the above .xml file also points to: http://planteam.github.io/MongoKitten/docs/

[2016-11-02 19:55] Joannis commented on #61
Sorry about that! The planteam link is the old organisation this project was in. And I've been having problems with generating the docs lately.

I'll check again right now if I can get our generation up and running

[2016-11-02 20:01] Joannis commented on #45
Sorry for the late reply! I didn't see this in my feed and just checked back on this ticket.

isConnected needs to be reimplemented I think. We've moved to another connection system underneath. I'll give this a try right now.

[2016-11-02 20:11] owenworley commented on #61
No probs, I would have pr'd if I could :)
On Wed, 2 Nov 2016 at 19:55, Joannis Orlandos <notifications@github.com>
wrote:

[2016-11-02 20:45] Joannis commented on #61
@owenworley I fixed the page.. finally. But the docs URL should work now

[2016-11-02 21:58] owenworley commented on #61
Awesome, thank you :)
On Wed, 2 Nov 2016 at 20:45, Joannis Orlandos <notifications@github.com>
wrote:

[2016-11-02 23:19] #61 closed

[2016-11-03 11:22] pkcs12 commented on #51
FANTASTIC!
I just installed swift-3.0.1 on my Ubuntu 16.04, and now it compiles! Thanks you!

[2016-11-03 11:22] Joannis commented on #51
Cool! Let me know if you have anything else! :)

[2016-11-04 04:04] sebasjuan94 opened #62 "BSON Module"
Hey guys,

I have added all of your files manually into my project and everything seems to be working fine until I try running the project and the compiler chokes because it says it cannot find the "BSON" module.
What can I do to fix this problem?

Thanks!

[2016-11-04 09:15] #51 closed

[2016-11-04 13:22] sujaykakkad commented on #45
Ok. Also tell me a better way to handle this and can mongodb interaction be asynchronous like in node.js mongodb driver?

[2016-11-04 15:00] Joannis commented on #45
It sure can! But we kept it synchronous within the driver to make most easier. I recommend using Dispatch queues for making calls asynchronous.

[2016-11-04 15:03] Joannis commented on #62
MongoKitten has a few dependencies that we link together using SPM. I think the best option would be to use SPM for creating an xcodeproj that you can depend on. But I don't know how that would work exactly. What kind of project are you creating?

[2016-11-04 18:40] sebasjuan94 commented on #62
Yea I can't see how that would work either. The first problem is that it seems like no matter what I do I can't get any imports at all. Not even using the SPM. I did the following commands...

$ mkdir SwiftProject
$ cd SwiftProject
$ swift package init --type executable
$ swift package generate-xcodeproj

With the package.swift looking like so:

import PackageDescription
let package = Package(

[2016-11-05 11:39] darkermatter opened #63 "~ operator causes slow builds"
Hi!

Creating a document using the ```~``` operator really slows builds. I recommend using ```.string(variable)```, etc.

As an example, I had a 16 element document which took 30 seconds to build on my machine. After changing all the ```~``` operators to .string() and .boolean() the build time was almost instantaneous (It almost felt like I was using Go again).

I guess it has something to do with

[2016-11-05 14:25] Joannis commented on #63
I'm working on BSON 4 where we don't use the Value enum notation anymore and replaced it with a direct dictionary.

So your code would look like this:

[code]

[2016-11-05 14:43] darkermatter commented on #63
nice! 😀

[2016-11-05 14:45] #63 closed

[2016-11-05 15:08] Joannis commented on #63
@darkermatter `.Package(url: "https://github.com/OpenKitten/MongoKitten.git", "3.0.0-alpha")` if you want to mess with it.

[2016-11-06 09:59] Joannis commented on #62
I personally never tested IPv6 but the library we use for that will definitely be able to make it work.

As to why you're unable to import MongoKitten I'm unsure. I've been trying to replicate your commands for the same result but it works for me.

Which Xcode version do you run?

[2016-11-09 00:30] quen2404 commented on #58
I have the same problem, my mongo server is down and i set `automatically` to true, but the constructor doesn't raise an exception...

[2016-11-10 06:24] sujaykakkad commented on #45
Ok I implemented dispatch queue and it is working asynchronously. So now I have a json string and I want to perform some validation. I want to create a json schema and validate input against it.
[code]
Is there any way I can perform validation with document also how can I convert document to dictionary?

[2016-11-10 10:33] Joannis commented on #45
I personally use [this](https://github.com/OpenKitten/Mainecoon/blob/master/Sources/Schema.swift) for schemas. And `Document(extendedJSON: myJsonString)` works for parsing MongoDB extended JSON as described [here](https://github.com/OpenKitten/BSON/blob/master/Sources/ExtendedJSON.swift#L129).

`document. dictionaryValue` is used for converting a Document to a Dictionary. But we use BSON's Value t

[2016-11-10 10:50] #24 closed

[2016-11-10 11:39] edulopez44 commented on #53
It is working with the latest version. Thank you!

[2016-11-11 06:10] sujaykakkad commented on #45
Ok So majority problem is solved with MongoKitten. Only isConnected has to be reimplemented so how long will it take to reimplement it?

[2016-11-11 07:41] Joannis commented on #45
It's already done :)

[2016-11-11 07:41] Joannis commented on #45
MongoKitten 2's latest patch

[2016-11-11 07:56] sujaykakkad commented on #45
So should I delete Packages folder and then rebuild the swift project?

[2016-11-11 08:41] Joannis commented on #45
`swift build --clean dist` to clean the folder
`swift package generate-xcodeproj` to create a new project

That should do the trick!

[2016-11-12 01:20] pkcs12 opened #64 "Compilation fails on BSON module"
Same code compiles on macOS, but on Ubuntu errors out:
[code]

[2016-11-12 14:48] Joannis commented on #64
@pkcs12 It should be fixed in the latest update.

[2016-11-13 09:43] Joannis commented on #58
This is fixed in MongoKitten 3 by the use of the new `Database` initializer. I'll probably backport this soon.

[2016-11-13 10:14] vlider commented on #64
Thanks, everything is fine after I clean built.

[2016-11-13 21:57] quen2404 commented on #58
An idea about release date of MongoKitten 3 ?

[2016-11-14 13:24] Joannis commented on #58
Either wednesday or the end of next week's sunday. I can't work on MongoKitten between wednesday and next week. It all depends on how much I'm able to work on it the next two days, but I don't think I'll make wednesday honestly.

For now you can enjoy almost every feature by updating your Package.swift for "3.0.0-alpha"

`.Package(url: "https://github.com/OpenKitten/MongoKitten.git", "3.0.0-alpha"

[2016-11-15 07:50] #64 closed

[2016-11-17 08:38] al-esok opened #65 "Use MongoKitten with Fluent From Vapor?"
Hello,

Can you please tell me if this is possible and if yes guide me through the process?

Thanks,
Avinash

[2016-11-17 13:51] swiftymarks opened #66 "Swift Package Manager"
Hello, from some reason when ever I build using the swift package manager I always endup having this kind of error,

I am using this version
 .Package(url: "https://github.com/OpenKitten/MongoKitten.git", "3.0.0-alpha")

error: The dependency graph could not be satisfied because an update to `https://github.com/OpenKitten/BSON.git' is required

[2016-11-17 16:55] Joannis commented on #66
`swift package update` will update your packages like BSON.

Alternatively `swift package --clean dist` will clean up your packages folder after which you can create an Xcodeproject with `swift pacakge generate-xcodeproj` or `swift build` to build it using the terminal.

Swift still has BSON in it's cache from a previous MongoKitten version (1.7 or 2.x) so you'll have to get the newer vesion.

[2016-11-17 16:56] Joannis commented on #65
No, but you can issue a ticket in the Fluent driver which is maintained by vapor itself to expose MongoKitten.

[2016-11-19 13:23] swiftymarks commented on #66
Thanks!

[2016-11-23 11:29] sujaykakkad commented on #45
How can I call a function in mongodb?

[2016-11-23 16:41] Joannis commented on #45
What kind of a function?

[2016-11-24 06:33] sujaykakkad commented on #45
A stored function in mongodb

[2016-11-24 06:33] sujaykakkad commented on #45
https://docs.mongodb.com/manual/tutorial/store-javascript-function-on-server/

[2016-11-24 08:56] Joannis commented on #45
I'm unsure if you can call a function from MongoKitten since I can't find anything in the MongoDB documentation about calling javascript functions.

[2016-11-24 13:42] Joannis commented on #45
This apparently is a MongoDB client only feature. The database and connectors like MongoKitten can't do this.

[2016-11-24 13:56] sujaykakkad commented on #45
Yes I thought so. Also use of functions is not recommended.

[2016-11-25 14:12] sujaykakkad commented on #45
How can I partially update document
[code]

[2016-11-25 14:13] Joannis commented on #45
Same way.
[code]

[2016-11-28 21:52] RafaelPlantard opened #67 "Connection refused"
[code]

How can I proceed in this case? I'm using the MongoKitten with Vapor/Fluent.

[2016-11-28 22:14] Joannis commented on #67
Vapor/Fluent uses an older version of MongoKitten that is known to have problems connecting to "localhost". I'd recommend connecting with "127.0.0.1" instead as that seems to fix the problem for these cases.

[2016-11-29 00:22] RafaelPlantard commented on #67
I will try it @Joannis, thanks

[2016-11-29 10:57] Joannis commented on #67
@RafaelPlantard fixed in 1.7.4

[2016-11-29 14:02] RafaelPlantard commented on #67
Thanks, you solution of replace the host for `127.0.0.1` it works.

[2016-11-29 14:02] #67 closed

[2016-12-03 18:17] gabriellanata commented on #48
Was this implemented? I am also trying to connect to a replica set on mlab

[2016-12-03 21:00] Joannis commented on #48
@gabriellanata it's not implemented as I don't have the financial capabilities to fund any (replica) servers at the moment.

[2016-12-03 21:13] gabriellanata commented on #48
I can create a mlab database with a replica set so you can use it for a few weeks to develop this functionality, if that is something you'd be willing to do. I know this is a feature that many users will not need, but i'd be very grateful as it is something we need to be able to scale in the future.

[2016-12-03 21:14] Joannis commented on #48
That would be **really** helpful for me! I could definitely use that to develop Replica Set functionality.

[2016-12-03 21:18] gabriellanata commented on #48
Sure! How can I contact you to share the details privately?

[2016-12-03 21:18] Joannis commented on #48
Using my email address at joannis@orlandos.nl

[2016-12-04 07:31] Joannis commented on #48
Working on it now! Thanks @gabriellanata

[2016-12-04 09:20] Joannis commented on #48
@gabriellanata I've got connection string parsing working now and am able to connect to the first host in the replica set. I'll continue now to implement selecting the secondary. And I'm thinking of adding support for efficient querying so that read-only queries will not be sent exclusively to the primary but also to the secondaries, since they should have the same data.

[2016-12-04 09:40] Joannis commented on #48
Which MongoKitten version do you run @gabriellanata ?

[2016-12-04 10:17] gabriellanata commented on #48
Awesome! mLab is running the latest version it allows: 3.2.11

[2016-12-04 10:24] Joannis commented on #48
Are you using MongoKitten directly? Is there a need to back port these features to an earlier MongoKitten version? I'm working on the soon-to-be-released MongoKitten 3 branch for this feature now.

[2016-12-04 10:35] gabriellanata commented on #48
Oh sorry I thought you meant mongoDB version. I am currently running MongoKitten 2, would you consider MongoKitten 3 stable enough right now? We're still in a beta stage until the end of the year so I don't need this feature right this second. I have no problem with upgrading to version 3 as soon as it is available.

[2016-12-04 11:26] Joannis commented on #48
I wouldn't consider MongoKitten 3 to be stable yet in every way. Aggregates are being worked on hard currently. The rest should be good to go. I'll work this into MongoKitten 3 now 👍

I've been able to query the collections now and am working on the more advanced parts of replica set support.

Amazing entries into the collection! 😂  Everyone around me look up when I laughed at that 😛
[code]

[2016-12-04 14:01] Joannis commented on #48
@gabriellanata it's working!

[2016-12-04 15:51] Joannis commented on #48
@gabriellanata If you'd like you can test MongoKitten alpha4 using `.Package(url: "https://github.com/OpenKitten/MongoKitten.git", "3.0.0-alpha4")`.

I'll need to experiment a bit more before I'd mark it as "working", specifically with MongoKitten 3 coming soon with many changes still happening. More advanced features have not been tested yet using replicas for example. But I'll work towards it an

[2016-12-04 23:45] Joannis commented on #16
I cannot implement this properly until we have the resources to set this up. Also in combination with replica sets.

[2016-12-04 23:46] Joannis commented on #48
I'm having trouble with emulating a disconnected primary server scenario. MongoDB should search for the primary again in the available provided servers.

[2016-12-06 10:36] sujaykakkad commented on #45
cannot insert document with key as "balance"
[code]
In mongo database only object_id and name field are there
[code]
Is there some bug with field name as "balance"

[2016-12-06 10:37] sujaykakkad commented on #45
Even "Balance" is working

[2016-12-06 10:44] Joannis commented on #45
I'm unable to reproduce the problem. But since you're using Mainecoon I'll look into any problems there might be with the schema backing this. Mainecoon's schema is also uploaded to the MongoDB collection which then also validates the Document.

[2016-12-06 10:45] Joannis commented on #45
Which MongoKitten and MongoDB version do you run? This might help me investigate a bit better.

[2016-12-06 14:22] sujaykakkad commented on #45
MonoKitten - 2.0.8
MongoDB - 3.2.10

[2016-12-06 14:27] sujaykakkad commented on #45
I don't think it the Mainecoon issue because I am printing the balance value after validation.

[2016-12-06 14:42] sujaykakkad commented on #45
Also I have a json
[code]
I want to check if the value is string or not
[code]

[2016-12-06 15:14] lgaches commented on #45
[code]

[2016-12-06 22:31] Joannis commented on #45
@sujaykakkad
[code]

This will change for the better in MongoKitten 3 😬

[2016-12-07 05:29] sujaykakkad commented on #45
It is not working. It is giving a warning and the result is always false.
[code]

[2016-12-07 11:41] Joannis commented on #45
I've updated my answer since GitHub didn't show all of it.

[2016-12-07 11:44] vincent-coetzee opened #68 "MongoKitten failing with "Context is nil" error"
Hi there
I'm trying to access a Compose MongoDB database with a connection URL of the following form

**mongodb://user:password@host:port/admin?ssl=true**

I have built my MongoKitten with MongoTLS defined, and I have checked that MongoKitten is in fact using TLS, and it is. Creating the Server instance works without failing, but when I attempt to insert into a collection, MongoKitten fails with t

[2016-12-07 12:06] Joannis commented on #68
This is related to #16. Support is not yet complete and tested. Support is experimental at best. I've been trying to get it up and running myself but I'm unable to connect using SSL myself, too.

MongoKitten is able to select a database since in MongoKitten 2 this doesn't open a connection yet. The connection pool doesn't need a connection to interact with the database until you insert the data. A

[2016-12-07 12:17] vincent-coetzee commented on #68
Hi Joannis,

Thanks for the prompt response and thanks for letting me know. That’s a real pity, as I was really hoping to use MongoKitten for an upcoming commercial project.

But many thanks anyway.

Regards

[2016-12-07 13:09] Joannis commented on #68
@vincent-coetzee MongoKitten 3 is planned for release Friday 16 december. It'll support replica sets for sure and SSL is definitely planned to be working and tested by then. I'm unsure if I'll meet SSL support by then but I'll report in this thread if I make any progress. If anyone reading this is able to help me implement SSL support using Vapor/TLS then please do respond!

[2016-12-07 13:34] lgaches commented on #68
@Joannis I'm working on SSL support. I've a successful connection to a local mongoDB 3.4. Just let me clean my code before a Pull request. I'll try to do it before the end of the week.

[2016-12-07 13:37] Joannis commented on #68
Amazing! Thanks so much for that! Could you push the code to a GitHub repository? I'd love to have a look at how you pulled it off!

[2016-12-07 20:08] wpccolorblind opened #69 "Matching subdocuments/nested objects"
Hey all,

Trying to figure out how to do the equivalent of this with MongoKitten:

Sample object:

{
     name: "Bob",
     nestedThings : {
          "thing1": [0, 1, 2],
          "thing2": [2, 3, 4]
     }
}

db.getCollection('myCollection').find({"nestedThings.thing1" : {$exists: true}})

This works perfectly fine as a regular mongo query, but haven't figured out if this is possible in MongoKi

[2016-12-07 20:51] Joannis commented on #69
I know the problem here 😬
MongoKitten 2 (the one you're likely running) still had the stupid feature called 'dot-notation'. I think you'll find this working with variadic subscripts.

[code]

[2016-12-07 21:24] Joannis commented on #69
Oops. I've made a mistake in my example "working" code. The code I showed you does the exact same thing you did.

[code]

That should disable the dot notation triggering.

[2016-12-08 01:28] wpccolorblind commented on #69
Your reponses are a little confusing to me...

I'm using MongoKitten 3 / Swift 3.

My goal is to select only documents that have a nestedThings object that also have a thing1 subobject.

I've tried:

1-
let matchingDoc = Document()
matchingDoc["nestedThings", "thing1"] = [
"$exists" : true
]

--> returns 0 documents

2-
let matchingDoc = Document()
matchingDoc[["nestedThings"]] = [
"$exists" : tru

[2016-12-08 07:42] Joannis commented on #69
First let's get the terms down so get the confusion out of the way.
MongoKitten is this library which officially is still at version 2. Version 3 is in development and is accessible using a tag instead of a version number.

MongoKitten 2 (the one I think you're running) has a feature called dot notation which is triggered when you enter precisely 1 string into the subscript.

`matchingDoc["oneStri

[2016-12-08 17:37] gabriellanata opened #71 "Not returning error when index clash"
When a collection has a unique index and I try to add an object which would clash with an existing object, MongoKitten does not throw an error, but the object is not added.

**Steps to reproduce:**

1. Create a database with a unique index on a field (in the example it is field "value")
[code]

2. Add an object with value "A"
[code]

3. Verify document was inserted
[code]

4. Add a second object w

[2016-12-08 23:22] wpccolorblind commented on #69
Gotcha regarding v2 vs. v3.

matchingDoc[["nestedThings.thing1"]] is still not working though.  Tried variadic just for kicks and that didn't work either.

[2016-12-09 06:55] surendratiwari3 opened #73 "not able to build MongoKitten on ubuntu 16.04 64 bit"
root@ubuntu:/usr/local/src/MongoKitten# swift build
Cloning https://github.com/OpenKitten/BSON.git
HEAD is now at 581a893 Reworked the entire API
Resolved version: 0.0.44
Cloning https://github.com/OpenKitten/CryptoKitten.git
HEAD is now at f61017a Merge pull request #1 from DevAndArtist/master
Resolved version: 0.0.2
Cloning https://github.com/vapor/socks.git
HEAD is now at bd9af15 Merge pull req

[2016-12-09 07:54] Joannis commented on #73
Ah.. it seems you're running the MonogKitten beta/alpha. Is this correct? The fix is about to be tagged as `"3.0.0-alpha7"`

[2016-12-09 08:43] sujaykakkad commented on #45
Why can't I insert document with "balance" as key?

[2016-12-09 08:44] sujaykakkad commented on #45
Did you find the solution?

[2016-12-09 09:23] Joannis commented on #45
I don't know any reason why it wouldn't be able to insert "balance". It even functions as expected on all servers I tested.

[2016-12-09 10:32] sujaykakkad commented on #45
Ok I found the bug. It is not related with the key "balance". There is some name conflict and it also changes the value inside another key.
eg
[code]

When I do this "balance" key is not added in document but "balance_status" is changed to 50. So it is altering my document and also not adding my key. Please try to fix this.

[2016-12-09 13:11] Joannis commented on #45
I wonder how we never stumbled upon this bug... I'm making your provided code a test and I'll push the fix

[2016-12-09 13:32] sujaykakkad commented on #45
I guess I should close this issue and reopen another one with this bug.

[2016-12-09 13:32] #45 closed

[2016-12-09 13:34] sujaykakkad opened #74 "Document bug with similar keys"
Ok I found the bug. It is not related with the key "balance". There is some name conflict and it also changes the value inside another key.
eg
[code]

When I do this "balance" key is not added in document but "balance_status" is changed to 50. So it is altering my document and also not adding my key. Please try to fix this.

[2016-12-09 15:38] Joannis commented on #74
I've pushed the update for BSON

[2016-12-10 00:49] #68 closed

[2016-12-10 09:13] Joannis commented on #69
Apparently there was a bug inside that subscript (`matchingDoc[["nestedThings.thing1]]`). @Obbut fixed it 🎉

[2016-12-10 11:47] Joannis commented on #71
I'll be investigating this soon. I've got my hands full at the moment.

[2016-12-10 11:47] #16 closed

[2016-12-10 11:48] #42 closed

[2016-12-10 11:48] #48 closed

[2016-12-10 11:48] #58 closed

[2016-12-10 11:49] #66 closed

[2016-12-10 11:49] #65 closed

[2016-12-10 11:49] #62 closed

[2016-12-12 09:47] sujaykakkad commented on #74
So is it fixed in new version?

[2016-12-12 09:49] sujaykakkad commented on #74
Also tell me how can I get a deleted document on findAndModify with remove and new.
Similar to this
https://docs.mongodb.com/manual/reference/method/db.collection.findAndModify/

[2016-12-12 09:53] Joannis commented on #74
I fixed it, yes. `collection.findAndModify` is the method you're looking for.

[2016-12-14 05:59] gormster opened #75 "Documentation?"
There seems to be no documentation for this library whatsoever.

How can this be? There's a tiny amount of autogenerated docs on http://mongokitten.openkitten.org, but it doesn't cover the Query Builder *at all*. Am I missing something here?

[2016-12-14 06:37] sujaykakkad commented on #74
Ok I need a suggestion I have implemented two files for my API one is controller which handles routes and http responses and other is model which handles DB calls. So for schema validation using mainecoon where should I implement the mainecoon schema inside my controller or inside my model and also where should the validation be implemented?

[2016-12-14 06:50] sujaykakkad commented on #74
I have referred to this repo which uses mongokitten.
https://github.com/IBM-Swift/TodoList-MongoDB/tree/master/Sources

[2016-12-14 10:32] Joannis commented on #75
http://mongokitten.openkitten.org is the generated API docs. Which doesn't contain use cases like how you'd use the Query builder.

I'm currently in the process of migrating tutorials and examples to [here](https://github.com/OpenKitten/Documentation) but it still requires manual navigation through the tree. This should become a proper website, but I'd need some assistance building the website so

[2016-12-14 10:44] Joannis commented on #75
https://github.com/OpenKitten/Documentation/blob/master/MongoKitten/Tutorials/QueryBuilder.md

[2016-12-15 00:41] Joannis commented on #74
The schema should be created and registered to a model only once before exposing/using the model. So that'd probably be `main.swift`. The validation of the schema will be done every time the model is instantiated and will throw an error otherwise.

[2016-12-15 03:40] Joannis commented on #75
We've moved all information [here](http://docs.openkitten.org) now. If anything is missing that you need more information on, please tell us :)

[2016-12-19 01:56] gabriellanata opened #76 "Support for $elemMatch with AQT"
I am testing a move to use AQT and i'm trying to replicate the following query:

[code]

Basically, each user has an array of documents and I want to find the user that has document with value "1234".

Currenly there appears to be no way to do this search using AQT

[2016-12-22 07:20] surendratiwari3 opened #78 "Reconnect after MongoDB Restarted"
i have created a process running continuously but it stuck when i restarted the mongodb server.so please provide a way to reconnect when mongoserver is up.

[2016-12-22 10:21] sujaykakkad commented on #78
Even I am having the same issue. Please implement it in the next version. Also after implementation please provide a good documentation to gracefully handle connection issues like reconnection and reconnection timeout.

[2016-12-22 10:53] surendratiwari3 commented on #78
issue is solve..

[2016-12-22 10:53] #78 closed

[2016-12-22 17:41] #53 closed

[2016-12-22 20:00] mollywoodnini opened #80 "Aggregation: Lookup doesn't work for array fields"
Hi there,

Version: MongoKitten 3.0

I am trying to do a lookup regarding this docs: https://docs.mongodb.com/v3.2/reference/operator/aggregation/lookup/

The lookup aggregation in MongoKitten 3 works great when localField and foreignField are single elements. But it doesn't work for array elements.

In the following example the localField 'specs' is an array element:
[code]
After the aggregation

[2016-12-23 07:32] #73 closed

[2016-12-23 15:31] lgaches commented on #80
Try with the following

`
        let unwind = AggregationPipeline.Stage.unwind(atPath: "$specs")
        let lookup = AggregationPipeline.Stage.lookup(fromCollection: inventory, localField: "specs", foreignField: "size", as: "inventory_docs")
        let match = AggregationPipeline.Stage.matching(["inventory_docs": ["$ne":[] as Document] as Document] as Document)
        let pipe = AggregationPip

[2016-12-23 15:50] lgaches commented on #80
Just added a test
https://github.com/OpenKitten/MongoKitten/commit/9920505f555e4a6ef66d0c875516f7072f5edbbd

[2016-12-23 15:52] Joannis commented on #80
We'll need to document the usage of Document better.

[2016-12-23 18:17] mollywoodnini commented on #80
Thank you @lgaches, it works flawlessly.

[2016-12-23 18:17] #80 closed

[2016-12-24 10:18] ntokozotep opened #81 ""Ambiguous use of subcript" when trying to access document value"
Hi,

According to https://github.com/OpenKitten/Documentation/blob/master/BSON/Tutorials/Document.md, documents are usable like dictionaries. However, when trying to access a value using a key, this error is given: ```Ambiguous use of subscript```.

I have been following this Vapor with MongoKitten tutorial: https://medium.com/@xcadaverx/full-stack-swift-deploying-a-vapor-app-4a190bc0a8d#.ld2gy0vn

[2016-12-24 14:17] Joannis commented on #81
MongoKitten 3's BSON Document supports 3 kinds of subscripts. The one you're looking for is `document["unique_id"] as String?`. BSON now requires you to explicitely define the type you want to have extracted there.

[2016-12-24 15:55] ntokozotep commented on #81
Okay. Thanks Joannis

[2016-12-24 15:55] #81 closed

[2017-01-10 03:14] #76 closed

[2017-01-10 09:31] Joannis opened #82 "[PROPOSAL] Database middlewares"
**Feature:** Database middlewares

This feature proposal is placed publicly on GitHub to discuss the future direction of MongoKitten more openly. This proposal specifically is aimed at adding a feature not commonly implemented in database drivers, namely the implementation of a database middleware system.

## Motivation

MongoKitten users generally use MongoKitten behind a web server like Vapor, K

[2017-01-10 12:16] justmark commented on #82
If a user were to sign in successfully to  a web application, and the user object had associated permissions with it, how would you see this being handled within the view?

As an example, if there was a delete action on a row in a table, you wouldn't want to present the delete action to users who didn't have sufficient permission.  This means that the user object and testing of the permission need

[2017-01-10 12:25] Joannis commented on #82
If you manage to send a delete request to the server via a form or JSON API it'll be aborted by the middleware since the middleware would contain this critical logic. The template would have to process this separately using the same method the MongoKitten middleware does. However, authorisation would be a feature build on top of this proposal. So this proposal doesn't cover the integration between

[2017-01-11 22:04] gabriellanata commented on #47
This issue is also solved by merge request #77 which adds support for ElemMatch in AQT

[2017-01-11 22:17] Joannis commented on #47
Good one! I'll close this

[2017-01-11 22:17] #47 closed

[2017-01-12 09:56] lgaches commented on #71
I've added a test for this issue. It passed, I close the issue.

[2017-01-13 10:45] dylankbuckley commented on #75
It would appear the documentation is broken ...

[2017-01-13 10:51] Joannis commented on #75
What is broken about it? There is some information missing here and there, but the basics should be covered and available at that URL.

[2017-01-13 13:18] jazeelkt opened #83 "Unable to use mongokitten with vapor"
I was trying to use MongoKitten in my vapor project:
.Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 3)

On running `vapor xcode` I can see a folder for mongokitten in Packages folder, but it seems the generated xcode project is unable to locate the source files for MongoKitten. Also I notice that in Packages folder, the entry for mongokitten is like mongokitten.git wh

[2017-01-13 13:56] lgaches commented on #75
@dylankbuckley I've updated the generated documentation [here](http://docs.openkitten.org/). Some page was broken.

[2017-01-13 14:25] lgaches commented on #83
You can find a simple example [here](https://github.com/lgaches/vapor-mongokitten_sample) using vapor and Mongokitten.

Do you have some code to share ?

[2017-01-13 15:10] jazzmac93 commented on #83
I tried on the vapor template for new project itself. There was no other dependency in the Package.swift file, except for vapor and mongokitten. I also tried the example provided. Running `vapor xcode` command does not generate a xcode project file. I can see the dependencies downloaded to Package folder, but I think there is some issue there. Without MongoKitten dependency the packages come in fo

[2017-01-13 15:29] Joannis commented on #83
The illegal instruction is triggered, for some reason. This results in the `.git` folders not being renamed.

Could you try running `swift package generate-xcodeproj`? `vapor xcode` wraps around that function but might add some other stages as well.

[2017-01-13 15:36] jazzmac93 commented on #83
Tried that too. Same output. On running `swift build` command, this is the output I got:
`Cloning https://github.com/vapor/mongo-provider.git`
`HEAD is now at 55b961b Merge pull request #3 from honghaoz/master`
`Resolved version: 1.1.0`
`Cloning https://github.com/vapor/mongo-driver.git`
`HEAD is now at e26a3f1 Merge pull request #30 from vapor/fluent-1.3`
`Resolved version: 1.0.9`
`Cloning https:

[2017-01-13 15:42] Joannis commented on #83
I don't know why it would matter, but could you try updating to Swift 3.0.1 or 3.0.2? An error like that seems to me like a bug in SPM which is part of Swift. Updating may solve that.

[2017-01-16 11:29] jazeelkt commented on #83
Downloaded Swift 3.0.2 toolchain and used it to fetch dependencies. That seemed to have fixed the issue. As you mentioned, could be something wrong with SPM.
Thanks for your support.

[2017-01-16 11:34] #83 closed

[2017-01-16 11:36] sujaykakkad opened #84 "Find and Modify not returning any Value"
[code]

The collection is getting updated on mongodb so the query is successful so there is some problem with findAndModify result.

[2017-01-16 11:57] sujaykakkad commented on #84
I have added a pull request

[2017-01-16 13:10] sujaykakkad commented on #84
I need help to perform aggregation query

[code]
This query was working on MongoKitten2
Can you suggest a transformation for MongoKitten3

[2017-01-16 13:42] lgaches commented on #84
try this

[code]

[2017-01-16 14:50] Joannis commented on #84
[code]

This also works for the last part

[2017-01-17 09:51] #75 closed

[2017-01-17 10:14] sujaykakkad commented on #84
Thanks now it is working as expected.

[2017-01-17 10:14] #84 closed

[2017-01-17 14:33] #74 closed

[2017-01-17 14:33] #44 closed

[2017-01-17 14:34] #46 closed

[2017-01-17 14:34] #69 closed

[2017-01-18 16:45] CocoaPriest opened #86 "disconnect() doesn't disconnect"
I'm very new to the mongodb world, so excuse me if I'm wrong. disconnect() doesn't seem to drop the connection properly for me. In logs I see the connection counter increase with every init, but it's not freed again.
In the same function, I tried another swift mongodb library (Perfect-MongoDB) and it works as expected there.
Any ideas?

[2017-01-18 22:21] Joannis commented on #86
In MongoKitten 3, disconnect clears up the connection pool. If you use MongoKitten after that it'll automatically reconnect again. Maybe this is unexpected behaviour.

MongoKitten 2 didn't have a proper connection pool and had `disconnect` as an empty function since it was accidentally not removed when developing it.

MongoKitten 1 did have disconnect implemented because it only had a single conne

[2017-01-19 17:55] Joannis opened #87 "MongoKitten 3.1"
- [x] Unit tests wherever possible
- [x] 100% documentation
- [ ] A tutorial for every major feature
- [x] GeoJSON
- [ ] Better/more complex ExtendedJSON library for BSON
- [x] Read/write concerns in individual functions in addition to a database
- [x] Read/write concerns in collections in addition to the database
- [x] Better fine tuned values for timeouts, connection pool settings, cursor batchS

[2017-01-19 17:56] Joannis opened #88 "MongoKitten 4.0"
- [ ] Async API
- [ ] Decision on hooks/middlewares
- [ ] More performance if possible

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41127429-mongokitten-3-2?utm_campaign=plugin&utm_content=tracker%2F29950958&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2017-01-20 20:32] mollywoodnini opened #90 "Can't connect to mlab"
MongoKitten 3.0
Xcode 8.2

Hi,

connecting to mlab doesn't work anymore. Trying to connect gives me an EXC_BAD_INSTRUCTION exception at ` bytes.append(contentsOf: [UInt8](repeating: 0, count: ((inputBlocks * blockSize) - 8) - bytes.count))` in the hash function within **CryptoKitten - SHA1** with following output:

[code]

I used Database(mongoURL:xxxx)  to connect:
[code]

Using Server(mongoURL:x

[2017-01-21 09:25] Joannis commented on #90
I found this problem on another server 3 days ago and pushed a fix already. Have you cleaned your packages and re-fetched them since?

If this is a bug after this patch has been applied I'd like to know `inputBytes.count` in that function. I don't need any sensitive data, just the count will help me debug that function.

[2017-01-21 09:58] mollywoodnini commented on #90
Yeah I removed all the packages and refetched everything yesterday.

The count is 258.

[2017-01-21 10:05] lgaches commented on #90
@mollywoodnini quick fix in CryptoKitten/SHA1/SHA1.swift

Replace Line 31  by :
[code]

[2017-01-21 10:16] mollywoodnini commented on #90
@lgaches Thank you. It works again!

[2017-01-21 13:06] Joannis commented on #90
I reverted the CryptoKitten "fix" that caused this. I'm keeping this ticket open since a tiny part of the userbase will still be affected. But most people won't notice a thing.

[2017-01-23 10:38] zirinisp commented on #81
@Joannis I cannot understand the new syntax. Why use "as String?" and not "as? String" or stringValue. Can you please point me to a direction that I can have a better understanding

[2017-01-23 11:45] Joannis commented on #81
We now have 20 almost identical subscripts. The only difference between each subscript is the return value. So if you're looking for a String you'll need the subscript that returns the String... however, Swift usually infers types rather than having you explicitly define them causing the subscript to be ambiguous. This is why you a subscript like this: `document["subdoc", "subdoc", "key"]` will be

[2017-01-23 11:48] Joannis commented on #81
Just a little open question to everyone reading this:
If you would've written the BSON library behind MongoKitten. How would you set up the subscripting?

[2017-01-24 21:42] #87 closed

[2017-01-25 21:27] Joannis commented on #90
Fixed in 3.1

[2017-01-25 21:27] #90 closed

[2017-01-26 16:24] Joannis commented on #86
Assuming you're running 3.0 we did notice an issue like this just now and we'll have it fixed in 3.1.

[2017-01-26 16:24] #86 closed

[2017-01-31 15:43] ntokozotep opened #91 "Crash when used with Vapor on Digital Ocean"
Hi

I recently started learning how to use Vapor and MongoKitten. I am trying to run a Vapor app on an Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-36-generic x86_64) droplet. The project seems to build fine but when attempting any request, I get the following crash:

[code]

I'm a bit clueless on how to solve this issue. I tried settings 4GB Swap to no avail. I hope you can assist me

[2017-01-31 16:26] lgaches commented on #91
Which version of MongoKitten are you using ?

[2017-01-31 16:42] ntokozotep commented on #91
Using version 3.0

[2017-01-31 18:22] Joannis commented on #91
This seems odd... Does this happen every run or did this only occur once?

[2017-01-31 18:28] Joannis commented on #91
Can I see the `drop.post("/api/authenticate")` route? MongoKitten sucessfully requested the search for the user in question and relayed the information back to your application as I can see from the logs. I'm think there is a problem down the line in your route, but I'm not sure.

Are you force unwrapping anything? (the `!` operator)

[2017-01-31 18:50] ntokozotep commented on #91
Yeah, it happens every run.

This is the handler for the ```drop.post("api/authenticate")``` route:
[code]

[2017-01-31 19:48] Joannis commented on #91
Closing this. In Slack we figured out it was likely a Vapor bug.

[2017-01-31 19:48] #91 closed

[2017-02-07 14:14] Obbut opened #92 "Pipeline stage naming"
I would like to discuss the naming of pipeline stages in MongoKitten. Currently, the stages are named like this:

[code]

While it's just a small detail, I personally would prefer this:

[code]

I think that looks better, because:

- it is more consistent with the MongoDB stage naming
- aggregation pipeline stages can be seen as a sort of function that is executed, and I think that a function to m

[2017-02-07 14:41] lgaches commented on #92
I'm agree. It looks better and It concordant with MongoDB aggregation operators syntax.

[2017-02-11 05:42] ksigWyatt opened #93 "Cannot convert value of type 'CVaListPointer' to expected argument type '__darwin_va_list!'"
Is it possible that `CVaListPointer` doesn't exist in the iOS native libraries for `Swift 3`? I'm not sure because it works on the sumulator... so it must.

Anyways, I have compiled my project for the simulator (using iOS 10.2) and it works fine, just a few warnings here and there but it builds. When I transition to an actual device running `iOS 10.2.1` the compiler complains saying:

As a result

[2017-02-11 09:17] lgaches commented on #93
First of all MongoKitten is not designed to be used on iOS devices but server side.

You can try to modify the code in this way :

[code]

[2017-02-11 10:05] Joannis commented on #93
We could change this ourselves, for the rare occasion you'd need MongoKitten in the app.
I'd recommend this then:

[code]

[2017-02-11 18:23] ksigWyatt commented on #93
Ah, that must be why I'm getting so many warnings. Either one of the solutions above will fix the error. I'm still getting a random error of:

Under Packages/CLibreSSL-1.0.0/Sources/CLibreSSL/getentropy_osx.c but that's likely due to the fact that it's an `OSX.c` file. And there could be some issues with that.  I'll have to try to see if I can reference my database another way then, perhaps the `R

[2017-02-11 18:23] #93 closed

[2017-02-11 22:17] Joannis commented on #93
@ksigWyatt are you writing an app for database administration? If you want to connect your apps to MongoDB directly your server credentials can be read form the app binary itself. Any of your users has the ability to read and connect to your database and get control over it. For this reason, REST APIs are always the best option. If you're writing a database administration app, however, that's a di

[2017-02-13 04:49] ksigWyatt commented on #93
@Joannis It's for database query - I'm just trying to display and/or update information on the database.

[2017-02-14 11:07] #49 closed

[2017-02-20 10:07] sujaykakkad opened #94 "Support for bulk insert and update"
Does MongoKitten support bulk insert and update methods as given in the mongodb documentation?

https://docs.mongodb.com/manual/reference/method/Bulk.find.update/#bulk-find-update

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42224352-support-for-bulk-insert-and-update?utm_campaign=plugin&utm_content=tracker%2F29950958&utm_medium=

[2017-02-20 11:14] Joannis commented on #94
Bulk is part of the MongoDB command line tools. But you can programmatically do the same in MongoKitten:

http://mongokitten.openkitten.org/Classes/Collection.html#/s:FC11MongoKitten10Collection6updateFzT8matchingVS_5Query2toV4BSON8Document9upsertingSb8multipleSb12writeConcernGSqOS_12WriteConcern_15stoppingOnErrorGSqSb__Si

http://mongokitten.openkitten.org/Classes/Collection.html#/s:FC11MongoKitt

[2017-02-21 08:12] sujaykakkad commented on #94
In Mongo 3.2 onwards there is db.collection.bulkWrite method. Is there any way to use in mongokitten.

https://docs.mongodb.com/manual/reference/method/db.collection.bulkWrite/#db.collection.bulkWrite

[2017-02-21 11:21] sujaykakkad commented on #94
Ok so here is what I want to achieve. I have to perform 100,000 updates every week. I will get a csv file which will have 100, 000 records which I have to read and update on mongodb.
eg:
Suppose I have a collection like this
[code]
Now I have a csv file like this
[code]
I will have to update the new rates in the rates collection.
I will have more than 100,000 records in the csv file. I guess this

[2017-02-21 19:26] Joannis commented on #94
You can do this in a single mongo query using MongoKitten using [this implementation](http://mongokitten.openkitten.org/Classes/Collection.html#/s:FC11MongoKitten10Collection6updateFzTGSaT6filterVS_5Query2toV4BSON8Document9upsertingSb8multipleSb__12writeConcernGSqOS_12WriteConcern_15stoppingOnErrorGSqSb__Si)

So let's say you've already converted CSV to a Document looking like the following in JSO

[2017-02-22 11:21] sujaykakkad commented on #94
Well thanks for the solution. It is working similar to bulkWrite method. However to update 100000 documents it takes over 13 seconds which is highly inefficient. Even when I do it with plain javascript it takes over 7 seconds. Is there any efficient way to do this in mongo itself then we can find a way in swift.

[2017-02-23 03:30] justmark commented on #92
Totally agree.   Follow the same naming of syntax as per Mongo itself.

[2017-03-01 01:40] xiongyuxi opened #95 "The sortedBy in find() does not work properly"
Hi, the sortedBy in find() not work properly for me, I use mongoDB 2.6.10 with MongoKitten:
Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 3)

[code]

The Cursor will ignore the sortedBy parameter and always return the top row of collection/table.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42541494-

[2017-03-01 01:44] xiongyuxi commented on #95
try running same code with MongoDB 3.4, the sortedBy works in MongoDB 3.4, but not work with 2.6.

[2017-03-01 04:15] Joannis commented on #95
MongoDB 2.6 doesn't seem to allow you to sort queried information, so unless I implement sorting in MongoKitten itself it won't work for MongoDB 2.6. I have no plans to implement advanced support for all MongoDB features for MongoDB 2.6 since that's an impossible that would have me end up rewriting almost all of MongoDB in the driver, that's not an option.

[2017-03-01 23:31] tfrank64 opened #96 "Add BlueSSL PEMCertificate support to lgaches fork"
Currently, I just need the ability to use this init `init(withPEMCertificateString certificateString: String, usingSelfSignedCerts selfSigned: Bool = true, cipherSuite: String? = nil)`

I have begun the process on my fork here: https://github.com/tfrank64/MongoKitten/commit/e2604fb2813ef89275540e0e2677718f5ae952bc

There is currently an issue in BlueSSL that is causing that app to hang [here](http

[2017-03-02 09:22] lgaches commented on #96
Do you need this option to allow client certificate ? Like that :
`mongo --ssl --host hostname.example.com --sslPEMKeyFile /etc/ssl/client.pem --sslCAFile /etc/ssl/ca.pem`

[2017-03-02 16:47] tfrank64 commented on #96
I don't think so. Part of my problem is that in using the Compose for MongoDB service on Bluemix, SSL is enabled and I don't think you can change it. So I'm given a base64 PEM certificate and thats it.

[2017-03-02 17:27] lgaches commented on #96
Ok it's the `sslCAFile` argument.

[2017-03-02 21:22] tfrank64 commented on #96
@lgaches So here is my issue right now and I'm not so sure that BlueSSL is causing it.

Using [my older MongoKitten code](https://github.com/tfrank64/MongoKitten/releases/tag/3.0.8) that is like 180 commits behind mongokitten31, I can deploy to Bluemix and connect to MongoDB through SSL. It also won't work on my local Linux VM.

Using [newer MongoKitten code from the lgaches fork](https://github.c

[2017-03-02 22:34] Joannis commented on #96
@tfrank64 I'd be up for trying it myself

[2017-03-03 05:58] lgaches commented on #96
@tfrank64 using `SSLService.Configuration(withCipherSuite: nil)`,  adding and trusting the CA Certificate to my keychain on MacOS  I passed the SSL Handshake. But the process still hang like you  [here](https://github.com/IBM-Swift/BlueSSLService/blob/master/Sources/SSLService.swift#L529). I'm suspecting MongoKitten here. I have a test instance on Compose so for the moment no needs for your creden

[2017-03-04 20:43] #88 closed

[2017-03-04 20:43] Joannis opened #97 "Helper functions for geo queries"

[2017-03-06 06:32] xiongyuxi commented on #95
Thanks for your reply. I didn't know that. I just use .find().sort({"abc":-1}) in MongoDB2.6 and it seems works fine. I have update the DB to 3.2 now. Thanks again for your reply.

[2017-03-06 06:32] #95 closed

[2017-03-06 21:43] tfrank64 commented on #96
The [latest changes](https://github.com/lgaches/MongoKitten/commit/8169814034c3002016a9642a0bf72835e9abed77) seem to be working well for me. Let me know when everything is tested and ready to go on the lgaches fork.

[2017-03-07 12:01] lgaches commented on #96
Fork with BlueSocket and BlueSSLService is ready. Try https://github.com/lgaches/MongoKitten/releases/tag/3.1.6 .

[2017-03-08 20:24] tfrank64 opened #98 "Socket multi-threading crash"
When running performance tests, with Jmeter, that use greater than 1 thread, my application crashes in MongoKitten. [This line](https://github.com/lgaches/MongoKitten/blob/mk31-BlueSSL/Sources/MongoKitten/Socket/Connection.swift#L119) or sometimes [this line](https://github.com/lgaches/MongoKitten/blob/mk31-BlueSSL/Sources/MongoKitten/Socket/Connection.swift#L109) specifically.
The error I get is:

[2017-03-08 20:26] tfrank64 commented on #96
The SSL stuff works now, but I'm having some crashes that may be unrelated. That issue is here https://github.com/OpenKitten/MongoKitten/issues/98

[2017-03-08 23:43] rfdickerson commented on #98
The error happens when the buffer's length is 0. As expected, indexing into this zero-length buffer causes a run-time exception. It seems that the buffer seems to be cleared when another thread is busy in the read. We tried placing simple locks around this critical section, but the fact that this area included a recursive call to itself, makes locking it difficult.

[2017-03-10 10:19] sujaykakkad opened #99 "Mongo not getting connected to remote server"
[code]

It throws an error as ```invalidBuildInfoDocument```
It gets connected if I use localhost

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42885583-mongo-not-getting-connected-to-remote-server?utm_campaign=plugin&utm_content=tracker%2F29950958&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2017-03-10 17:29] Joannis commented on #99
I've updated MongoKitten to 3.1.5 to give more information on *why* it's failing. Could you update the MongoKitten dependency to 3.1.5 and return the error thrown?

[2017-03-14 19:25] mboeddeker opened #100 "auth issue"
always the same error. i can't authorize into my database. so i'm using a mongurl ("mongodb://username:password@hostname:port")

I checked my username & password with Robomongo and other tools, mongoose and so on, everything works fine.

And please update your link for the Quickstart in the docs!!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2017-03-15 08:05] Joannis commented on #100
I've addressed the broken links issue.

As for the authentication tot he database, what version of MongoKitten are you running currently? What MongoDB version are you trying to connect to? Do you know if you're using SCRAM_SHA_1, MONGODB-CR or another mechanism?

[2017-03-17 22:22] tib opened #101 "Insert of multiple documents with errors"
The insert method won't return any object ids, if a duplicate key error happens, but it throws an error.

This behaviour would be acceptable if the stoppingOnError parameter is true, but this parameter suggests that if the insertion contains a "bad object", the work continues, and the result outcome should be the array of the inserted identifiers.

[code]

Is is possible to get back the inserted i

[2017-03-18 13:35] Joannis commented on #101
Thanks for the issue. I've been thinking about this for a bit now, but I don't think it's easy to solve. I can, however, modify the error signature to contain the inserted ids. Would that help?

In this case you could do something similar to this:

[code]

[2017-03-18 17:29] tib commented on #101
First of all, thank you for the quick reply, with the proposed solution users could be able to check the inserted identifiers, but know nothing about the failed ones. I think we should separate the objects into two categories: succesful insert identifiers, and failed objects (with the reason of the failure maybe).

[code]

What do you think? Could we do something like this? It would be a big help

[2017-03-18 18:06] Joannis commented on #101
Sounds good. I'm thinking of making it a bit different even. `struct InsertFailure` which has helper methods, too, to get information about the successful and failed documents. I'll be working on this later this weekend.

[2017-03-18 19:10] tib commented on #101
Thank you! I can't wait to see the final results. ;)

[2017-03-19 09:20] tib opened #102 "Log level can't be set"
The log level can not be set, and the logger output can't be disabled.

[code]

This could be really proplematic for linux shell scripts (output means errors).

I've tried to set the log level, but the  server's FrameworkLogger object has no minimumLogLevel property, because it's not subclassed from the Logger class.

[code]

I also tried to reach the FrameworkLogger's logger property but that's d

[2017-03-19 09:35] Joannis commented on #102
Try this:

[code]

[2017-03-19 09:40] tib commented on #102
It worked, thank you. You should mention this in the docs somewhere. I could not find it.

[2017-03-19 09:41] Joannis commented on #102
I will do that!

[2017-03-20 10:22] Joannis commented on #100
Has this been resolved?

[2017-03-20 10:23] Joannis commented on #99
Did you fix the issue?

[2017-03-20 10:24] Joannis commented on #101
I've worked on it and tested it in MongoKitten 4. I'll be backporting this now.

[2017-03-20 10:41] Joannis commented on #101
https://github.com/OpenKitten/MongoKitten/blob/bson5/Tests/MongoKittenTests/CollectionTests.swift#L601

Here is the test, do you think this is enough?

[2017-03-20 11:06] sujaykakkad commented on #99
No.
It is throwing same error
```missingBuildInfoField("version")```

[2017-03-20 11:07] sujaykakkad commented on #99
I upgraded to MongoKitten 3.1.5

[2017-03-20 11:50] Joannis commented on #99
What MongoDB version are you running? is it a development build like a Release Candidate, beta, alpha or nightly build? I can understand it failing, then.

[2017-03-20 12:02] Joannis commented on #99
I possibly fixed your problem in 3.1.6. Do you mind testing this?

[2017-03-20 12:20] tib commented on #101
Cool, I like this solution. Clean & simple enough! ;)

[2017-03-20 12:33] Joannis commented on #101
Looks like I'm ready. It's passing the tests but I cannot tag it a 3.1.7. It's now 3.2.0.
If you don't mind, please post some feedback on the available variables and if you miss anything in the errors like helper functions/variables, please let me know. If everything's fine you can close the issue.

[2017-03-20 12:42] tib commented on #101
Thank you, I'll have some tests later on today if everything works, I'll close the issue. 👍

[2017-03-20 17:08] tib commented on #101
Strange error happened after the swift build command:

[code]
I am using:

[code]

Is it possible that something went wrong with the update?

[2017-03-20 19:04] Joannis commented on #101
I'm getting this in the CLI but not Xcode. Let me look into this. Thanks for the heads up

[2017-03-20 19:08] Joannis commented on #101
Swift 3.0.2-RELEASE has some random troubles inferring the type at that line of code. I fixed it in 3.2.1

[2017-03-20 20:28] tib commented on #101
Now it compiles, but I have a unique index on my collection:

[code]

... and I am trying to insert duplicate items:

[code]

The code never gets to the first catch block, but it should. I've got all the inserted identifiers inside the "without error" block, but I'm 100% sure that I have dupes, because if I change the stoppingOnError property, it'll go directly to the catch block.

[2017-03-21 06:02] sujaykakkad commented on #99
Yes it is working now.

[2017-03-21 06:03] sujaykakkad commented on #99
MongoKitten version was 3.2.1

[2017-03-21 08:40] #99 closed

[2017-03-21 08:42] Joannis commented on #101
This is MongoDB behaviour, primarily. StoppingOnError is false by default, and on false it will continue to insert after duplicates. I cannot throw an error because that would abort the insert operation halfway through. Any idea what the preferred approach should be?

[2017-03-21 09:00] tib commented on #101
What if you check the BulkWriteResult in the end, and if it contains .writeErrors, you throw an exception, regardless of the result. That exception could contain all the necessary info like now.

My main problem with the current solution is that I can not get the duplicate errors... because that catch block is never called, but it should, because the insert operation had errors. Hiding the problem

[2017-03-21 10:38] Joannis commented on #101
I guess that's probably the best way. 👍

[2017-03-21 13:47] savelii opened #103 "Ubuntu 14.04 swift 3.1 problem"
Hi, I am trying to use MongoKitten on IBM Bluemix and local machine, both Ubuntu 14.04 with two swift 3.1 latest snapshots (swift-3.1-DEVELOPMENT-SNAPSHOT-2017-03-15-a-ubuntu14.04 and swift-3.1-DEVELOPMENT-SNAPSHOT-2017-03-19-a-ubuntu14.04).

I used little modified branch of BSON and MongoKitten (RegularExpression changed to NSRegularExpression in swift 3.1 thats all changes, nothing special) you

[2017-03-21 17:47] savelii commented on #103
Just tested with MongoKitten 3.1.0-beta2 it works fine with Swift 3.0.2, so I just make quick changes (RegularExpression changed to NSRegularExpression) for quick test and again got runtime errors after compile with Swift 3.1

much same errors:
[code]

[2017-03-21 19:29] Joannis commented on #103
I've tried investigating this but it seems that it's probably an issue with the fork by @lgaches using BlueSSL, using no SSL and MLab works fine using your fork.

If you don't need BlueSSL but vapor's LibreSSL works, you can use the bson5 branch. More information on that is [available here.](http://beta.openkitten.org)

MongoKitten 4 is under development, so locking onto a beta tag is advised. The

[2017-03-21 19:30] Joannis commented on #102
We're replacing LogKitten with a logging protocol for MongoKitten 4 which includes disabling. I'll keep this issue open since it needs to be added to the tutorials/docs.

[2017-03-21 19:39] Joannis commented on #101
It's going to be tagged 3.2.2 after travis marks the last commit as succeeding.

[2017-03-21 19:58] tib commented on #101
I'll test it, I just wanted to look after this issue. ;)

[2017-03-21 20:19] lgaches commented on #103
MongoKitten 3.x hasn't be tested with Swift 3.1. If you are using Kitura, MongoKitten with Vapor's LibreSSL, It's not stable.
So my advise is if you are using Kitura use my fork and Swift 3.0.2 it's working fine. When Swift 3.1 is released, I'll support MongoKitten 4 with Kitura stack.

[2017-03-21 21:54] Joannis commented on #101
Tagged

[2017-03-21 22:07] tib commented on #101
Yaaaay, it's perfect! Works like magic! Thank you for the "fix"! 🥇 🎊 👍

[2017-03-21 22:07] #101 closed

[2017-03-22 14:18] savelii commented on #103
Can you describe how you get my fork work with "no SSL and MLab"? You modified my fork by removing some BlueSSL dependencies? or just some special way to init database (another then database = try Database(mongoURL: "mongodb://***:***@ds***.mlab.com:31320/presentation"))? I can't get it worked in any way. Thanks.

[2017-03-22 14:34] Joannis commented on #103
I just used the MLab connection string without `?ssl=true`

[2017-03-22 15:06] savelii commented on #103
Very strange, it's keep falling for me with swift-3.1-DEVELOPMENT-SNAPSHOT-2017-03-19-a-ubuntu14.04.

By the way, just for info, noticed strange behaviour with
`.Package(url: "https://github.com/lgaches/MongoKitten.git", "3.1.0-beta3")`
it downloads not package with exact this tag, it downloads older package ignoring "-beta3" part. Same with "5.0.0-beta1" SPM resolves and fetch "5.0.0-obbut2" for

[2017-03-23 06:45] #103 closed

[2017-03-30 20:17] mark-crawford commented on #82
Question:  Would this proposed database middleware include adoption of an X.509 authentication/authorization implementation?  If not, are there any plans to implement the X.509 authentication/authorization model in the near future?

[2017-03-30 21:00] Joannis commented on #82
The proposed middlewares would not implement X.509, that's separate. I do not have any plans to support X.509 currently. I'll be working on releasing MongoKitten 4 and Meow first. So X.509 is probably at least another 2-4 weeks down the road.

[2017-04-03 22:45] acecilia opened #104 "ValueConvertible cannot be used with dictionary literal in swift 3.0.2"
Hello:
Just started using MongoKitten and I got to this error:
![captura de pantalla 2017-04-04 a las 0 42 59](https://cloud.githubusercontent.com/assets/7938671/24634744/c7b53a68-18cf-11e7-8050-15ea5916c94e.png)

I am running swift 3.0.2 on macOSX 10.11.6 (EL Capitan).

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/437563

[2017-04-04 07:47] Joannis commented on #104
MongoKitten 3 requires any dictionary to be explicitly marked as a Document.
So that would work like this:

[code]

This is solved in MongoKitten 4 (but requires Swift 3.1)

[2017-04-04 10:00] acecilia commented on #104
Nice, thanks for the answer ;)

[2017-04-04 10:00] #104 closed

[2017-04-04 10:16] Joannis commented on #100
I'll be closing the issue. if the issue is still there, please do re-open it.

[2017-04-04 10:16] #100 closed

[2017-04-05 19:44] zirinisp opened #105 "Not authorized to execute command. Restart and I do not get the error"
I am getting the following error:

`invalidResponse([{"ok":0.0,"errmsg":"not authorized on kitespotter to execute command { find: \"_Session\", filter: { _session_token: \"r:fe2fbc.....e9\" }, skip: 0, limit: 1, batchSize: 100 }","code":13}])`

I usually get it once the server has run for a couple of hours. If I restart the server, then everything is back to normal.

Initially though it is a conne

[2017-04-06 12:24] sujaykakkad opened #106 "Mongo Cursor Iteration is very slow"
Ok I have a collection which has over 100000 documents.
I just want to iterate over the all documents once
So I wrote a simple program to iterate
[code]
I just printed the start time and end time. The iteration took over 186 seconds(over 3 minutes).
I guess the driver is converting to document type everytime which is making iteration slow. Is there a faster way to iterate. I just ran a basic find

[2017-04-06 13:14] Joannis commented on #105
What version of MongoKitten and MongoDB are you running? I haven't seen this in MongoKitten so far. Many people run this without issues.

[2017-04-06 13:16] Joannis commented on #106
MongoKitten 4 will improve the performance of this drastically. I would suggest mutating and updating the document in the `for .. in cursor` loop. I think you'll be draining a lot of performance by storing everything inside `arr`.

If you insist on using `arr` in the middle I'd suggest `Array(cursor)`

[2017-04-06 13:45] sujaykakkad commented on #106
I also tried doing it without array
Simple basic loop without assigning anything
[code]

Still it took over 3 minutes(189 seconds). I also tried ```swift Array(cursor)``` it takes the same time.

[2017-04-06 13:52] sujaykakkad commented on #106
I also tried with 25000 records example set given in mongodb documentation the link is below.
https://docs.mongodb.com/getting-started/shell/import-data/
While releasing Mongokitten 4 please test it with this data set.
The basic loop for this is taking over 21 seconds. I tested the same in node and it took around 0.8 seconds.

[2017-04-06 16:04] zirinisp commented on #105
I am using the following version of MongoKitten, which should be the latest

Resolving https://github.com/OpenKitten/MongoKitten.git at 3.2.2

MongoDB. I use hosted mlab and the version is the following:

mongod version: 3.2.11 (MMAPv1)

On Thu, Apr 6, 2017 at 8:14 AM Joannis Orlandos <notifications@github.com>
wrote:

--
--

*Pantelis Zirinis*
www.paz-labs.com

27 Old Gloucester Street
London WC1

[2017-04-06 16:07] Joannis commented on #105
Do you have slack or a method of chatting? This is strange

[2017-04-06 16:07] Joannis commented on #106
Let me look into this! I'll test it today

[2017-04-06 16:57] zirinisp commented on #105
yes I do. my slack is zirinisp

On Thu, Apr 6, 2017 at 11:07 AM Joannis Orlandos <notifications@github.com>
wrote:

--
--

*Pantelis Zirinis*
www.paz-labs.com

27 Old Gloucester Street
London WC1N 3AX
United Kingdom

Tel: +44 203 129 0296 / +306945540033
E-mail: info@paz-labs.com
Facebook: http://www.facebook.com/PAZLabs

[2017-04-06 17:47] Joannis commented on #106
I didn't test it in MongoKitten 3 to verify your problem. MongoKitten 4 is iterating lazily over 30k documents in 500ms on my macbook.

With my next cursor enhancement it will be proactive rather than lazy.

[2017-04-06 17:52] Joannis commented on #106
The above enhancement, by the way, will improve performance of active iterations (almost all iterations)

[2017-04-06 17:57] sujaykakkad commented on #106
Well that's great if it is faster than node. Also can you test it on mongokitten 3?

[2017-04-06 17:59] sujaykakkad commented on #106
Also were those 30000 records from the example dataset whose link I had given?

[2017-04-06 18:27] sujaykakkad commented on #106
Also were those 30000 records from the example dataset whose link I had given?

[2017-04-06 19:17] Joannis commented on #106
No, it was another dataset. Your dataset took 650ms.

[2017-04-06 19:18] Joannis commented on #106
And with my local patch 120ms for your dataset. 80ms for my dataset.

[2017-04-07 07:44] sujaykakkad commented on #106
Oh that is fast. So it was done in MongoKitten 4. So when are u releasing MongoKitten 4?

[2017-04-07 08:59] Joannis commented on #106
Whenever Vapor releases their new TLS library.

[2017-04-07 13:53] rfdickerson commented on #98
I think we might be able to close this out with MongoKitten 4

[2017-04-07 15:56] Joannis commented on #98
I'll be trying to backport this. But it works 🎉

[2017-04-07 15:56] #98 closed

[2017-04-09 01:48] Joannis commented on #106
I got fed up waiting. If you use the `4.0.0-vaportls` tag you'll be fine using the normal SSL library. I'll be replacing it in the coming `majorVersion: 4` tag

[2017-04-09 01:49] Joannis commented on #105
We figured out the connection is being closed after a while by the cloud. Working on automatic timeouts now.

[2017-04-12 15:22] #106 closed

[2017-04-12 15:23] Joannis commented on #96
Should be fixed now

[2017-04-12 15:23] #96 closed

[2017-04-12 15:23] Joannis commented on #92
Implemented

[2017-04-12 15:23] #92 closed

[2017-04-12 15:26] Joannis opened #108 "X.509 authentication"
As requested by @mark-crawford .

[2017-04-12 15:34] Joannis commented on #94
I've improved the performance in many points. Could you check this with MongoKitten 4?

[2017-04-12 20:49] stvnmcdonald opened #109 "Import .json to create or overwrite collection?"
Does MongoKitten provide functionality to import a .json file to completely replace a Collection? I have three Collections for each new customer DB I create that require data and unique id's (which is why I don't copy or clone a templateDB). I have been using a shell script with mongoimport to achieve this so far. Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!

[2017-04-12 22:26] stvnmcdonald opened #110 "ObjectId string only?"
I have the below issue:
 var orgDoc = try organizationCollection.findOne(matching: ["name":customer])
 var orgNew = orgDoc.extract()?.dictionaryValue["_id"]?.makeExtendedJSON()
The result of print is below:
{"$oid":"58ee953c54847dc3319fd408"}
- but it is as a String and I cannot get only the "58ee953c54847dc3319fd408" value to return. How can I return an objectId as just string from a document aft

[2017-04-13 08:14] Joannis commented on #110
ObjectId has a computed property called `hexString` which is what you're looking for. Since you're using MongoKitten 3:

`(orgDoc["_id"] as ObjectId?)?.hexString`

For MongoKitten 4:

`ObjectId(orgDoc["_id"])?.hexString`

[2017-04-13 08:33] Joannis commented on #109
This is currently not possible without `mongoimport`. If you split the file by `\n` you'll get an array of strings. If you pass each string into the extendedJSON initializer you'll get a Document for each entry in this JSON file. These Documents can then be inserted.

For MongoKitten 3 you'll need the json file as a String.
[code]

In MongoKitten 4 both String and `[UInt8]` will work:
[code]

[2017-04-13 13:03] stvnmcdonald commented on #110
This was exactly what I needed. I really appreciate you taking the time to assist. Thank you!

[2017-04-13 13:03] #110 closed

[2017-04-13 13:07] stvnmcdonald commented on #109
Thank you! Can I use MK4 with Vapor 1.5? I came across these docs first and saw it required 2.0 but had not tried. I know it is a beta site.
http://beta.openkitten.org/frameworks/vapor/Vapor/

[2017-04-13 17:11] stvnmcdonald commented on #109
Thanks! Upgraded to 4.

[2017-04-13 17:11] #109 closed

[2017-04-13 23:14] Noobitious opened #111 "Standard install generates: <unknown>:0: error: missing required module 'CLibreSSL'"
When I add the mongokitten as the package, then run the swift package manager and generate a project, it generates this error:

CompileSwift normal x86_64 /Users/david/Dropbox/Dev Backups/DB_Client_v2/File.swift
    cd /Users/david/Dropbox/Dev Backups/DB_Client_v2
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift -frontend -c "/Users/david/Dropbox/Dev

[2017-04-14 03:14] dsantosp12 opened #112 "Docs links are not working"
In http://mongokitten.openkitten.org/ the links under the "Learn" sections are not working.

These are the link label:
* "We host all our tutorials here"
* "And we host the MongoKitten documentation including dash docset here"

I didn't try anything else. I hope it makes sense.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4413061

[2017-04-14 03:36] Joannis commented on #112
Ah. I see! Thanks. That page is a copy of the github readme.
http://mongokitten.openkitten.org

It currently points to http://beta.openkitten.org where I'm working on MongoKitten 4 tutorials. By the way, MongoKitten 4 is not in beta, I just didn't move it to a new domain yet.

[2017-04-14 03:51] Joannis commented on #111
I don't know what's causing this. I've never seen anything like this before.

The last statement leads me to assume that you've updated Swift/Xcode during development.

`If you're seeing a crash here, check that your SDK and dependencies are at least as new as the versions used to build 'BSON'`

I've seen Xcode mess up project caches before, so I wouldn't be surprised if removing the project(s) in

[2017-04-14 11:04] Joannis commented on #112
https://www.reddit.com/r/swift/comments/65bvre/a_rapidly_growing_list_of_mongokittenswift_guides/

I'm going to expand this a lot.

[2017-04-14 15:06] dsantosp12 commented on #112
Great thanks!

[2017-04-14 18:25] #112 closed

[2017-04-19 13:59] Joannis commented on #108
@mark-crawford I cannot finish this feature for now. MongoDB has an undocumented scenario I cannot avoid running into. Reaching their support team is impossible without paying for it.

[2017-04-19 23:57] mark-crawford commented on #108
Is it possible to describe the scenario you are running up against?

[2017-04-20 09:09] Joannis commented on #108
I manage to connect using SSL providing the certificate as being mine. My connection is accepted but unauthorized.

[code]

When I send the above message to the server I get the following message: `"SSL support is required for the MONGODB-X509 mechanism."`

There is no further information available about this error.

[2017-04-20 15:23] mark-crawford commented on #108
Are you using the Community Edition or Enterprise Edition of MongoDB?  If you are you are using the Community Edition, you may have to recompile it to include TLS/SSL support?

This information is a bit dated, but may still apply:  http://www.allanbank.com/blog/security/tls/x.509/2014/10/13/tls-x509-and-mongodb/

[2017-04-20 16:20] Joannis commented on #108
I'm using the community edition with SSL. But I'm finding the same issues on IBM Bluemix

[2017-04-21 08:31] sujaykakkad commented on #94
Hey Sorry for late reply. I will test this in next week with my API.

[2017-04-21 15:31] Joannis commented on #108
@mark-crawford Do you happen to have a MongoDB instance that I can test X.509 against?

[2017-04-21 15:46] mark-crawford commented on #108
I have a Mongo CE instance, if that helps.  I have a Mongo EE instance, but I am using this in a project that is under a fairly tight timeline and will not be able to get the DBAs to reconfigure it for x.509 authentication for a few weeks (sorry).

[2017-04-21 20:50] Joannis commented on #108
Anything works. I need an instance that is verified by someone else to work.

[2017-04-24 16:57] mark-crawford commented on #108
Sure, I can help.  Just having a difficult time configuring my CE instance for X.509 during my off-time.  It may take a bit to accomplish this.

[2017-04-24 17:24] Joannis commented on #108
No worries :) Let me know when you've got something working.

[2017-04-24 17:28] mark-crawford commented on #108
I may be able to set it up quicker if I knew exactly what steps to follow to configure it.  Do you have a procedure I can follow to configure it?

[2017-04-24 17:38] Joannis commented on #108
Sure: https://docs.mongodb.com/v3.0/tutorial/configure-x509-client-authentication/

[2017-04-27 08:05] sujaykakkad commented on #94
[code]
I just tested with mongokitten 4 and still it is taking over 20 seconds to parse 25000 records of the
dataset which I had given
https://docs.mongodb.com/getting-started/shell/import-data/

Can you tell me what I am doing wrong?

My Package.swift looks like this
[code]

[2017-04-27 12:34] Joannis commented on #94
I found your problem. I have been running the same code in `0.500207006931305` seconds. When I ran it in debug-mode however the results were much more like yours at `21.6948750019073` seconds.

When you run code in production or an environment where performance matters, always compile on release. `swift build -c release` will do that on the CLI. Your application will not be in `.build/debug/` but

[2017-04-28 16:02] Noobitious commented on #111
I've tried a number of things. I still get the same error, from what I think is a clean install with the latest xcode. I even re-installed xcode. I can replicate it by using the swift package link described on the MongoKitten github page. Run the generate project command. Then make a file and try to import MongoKitten. Then build. Error.

I've done this before on previous versions without problem.

[2017-04-28 16:51] Joannis commented on #111
@Obbut any idea?

[2017-04-30 04:23] Danulf commented on #82
This sounds like back-end-as-a-service such as FireBase, Parse, Meteor, et cetera.  In short, what are you thinking that isn't available from these other services?  What is better, how is your approach different?

(I assume you are considering this as something totally separate from the driver.)

[2017-05-01 09:13] Joannis commented on #82
The idea we had within the team was to allow for a hook/middleware system that allows you to influence the processes in MongoKitten. It could be used for measuring statistics, aborting delete operations based on metadata like the user that's executing it or modifying the query to ensure someone only applies the operation to the entities it has access to.

[2017-05-01 15:19] CocoaPriest opened #113 "Non-vapor?"
The 4.0 version has the "4.0.0-vaportls" tag. Does it mean I have yet to wait for a non-vapor version? (I work with perfect)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44720922-non-vapor?utm_campaign=plugin&utm_content=tracker%2F29950958&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bo

[2017-05-01 15:49] Joannis commented on #113
`4.0.0-vaportls` is a version of MongoKitten build on vapor/TLS. I'm working with the Perfect and Kitura teams to see what the ideal solution is for MongoKitten SSL support.

[2017-05-02 05:43] sujaykakkad commented on #94
Thanks for the solution it is now working much faster. So there is a significant difference in performance in release and debug mode.

[2017-05-04 16:42] mark-crawford commented on #108
I haven't forgotten about this, I just haven't had time to do it.  Hopefully, I will get some time this weekend or next week.  I will comment when I have performed the verification.

[2017-05-08 21:58] bushev opened #114 "Can I use this library with iOS?"
Hello, guys! First of all, thank you for such awesome project.

I'm writing a **MongoDB Administration tool** for Mobile devices. I can't find the **requirements concerning OS**, just Swift 3.1. So, if you can to supplement the requirements it would be great!

Thank you!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44977710-can-i

[2017-05-09 09:39] Joannis commented on #114
Hello @bushev . I'm also writing a MongoDB administration tool, but for macOS. I'm working on this as we speak but am having some problems with SSL connections on macOS and iOS using `Security`

[2017-05-09 12:33] Joannis commented on #114
Try the 0.0.30 tag

[2017-05-09 13:33] bushev commented on #114
Hi, @Joannis! I'm completely new in Swift, I want to create Cordova plugin using this library for future use with Ionic 3. I will try it since there is a chance to get it works. Thank you!

[2017-05-09 19:19] bushev commented on #114
@Joannis, problem like this?

![image](https://cloud.githubusercontent.com/assets/7535766/25868506/95727da2-3505-11e7-90f1-5ce26707779c.png)

[2017-05-09 22:00] Joannis commented on #114
Precisely that! If you comment that line it might work on iOS. This line worked on macOS, though.

[2017-05-09 23:59] bushev commented on #114
@Joannis, bingo! I not I can connect to my MongoDB from iOS app!

[2017-05-09 23:59] #114 closed

[2017-05-13 04:02] AbhishekVashisth commented on #114
Hi Bushev, I am new in Swift, could you please guide me the steps to connect my iOS app with mongoDB through SSH tunnel using OpenKitten/MongoKitten driver.

Thanks in Advance.

[2017-05-13 09:14] Joannis commented on #114
@AbhishekVashisth first you'll need to set up a connection to the remote server using an SSH tunnel. I'm not sure how you plan on doing this on iOS, but I'll leave that up to you. In this example I'm spawning a background SSH connection `fN` will put the connection in the background so I can continue to use or close the shell. `-l` will be the remote Linux server's user that I'm authenticating as.

[2017-05-14 19:55] houmie opened #115 "Installation process is not clear"
Sorry but why couldn't this be a pod?

I have been spending a couple of hours on https://medium.com/@joannis.orlandos/setting-up-mongokitten-4-9a8bf8b2ad09 and https://medium.com/@joannis.orlandos/using-spm-in-your-swift-projects-bf55996922a0. The steps aren't just clear.

I have created an empty folder, then ran `swift package init --type=executable` next I edited the Package.swift with the Mongo

[2017-05-15 08:20] Obbut commented on #115
What platform are you developing for?

We primarily target server-side Swift (Linux and command line macOS applications) where the Swift Package Manager is the standard and the only option. So your project would be managed by the package manager. You can read more about the Swift Package manager [here](https://swift.org/package-manager/).

Because the entire server-side Swift world does not use Co

[2017-05-15 09:15] Joannis commented on #115
I've got a solution for you, still, even though we don't support Cocoapods.

Create a directory inside your project named `SPM`. You can then create a project with `swift package init` (without `--type=executable`). That creates an SPM library. If you add your dependencies to this dummy-library you can create an Xcode project for the library using `swift package generate-xcodeproj`. This project c

[2017-05-17 09:24] acidmax76 commented on #115
in this case build failed with errror on MongoSocket

[2017-05-17 09:24] Joannis commented on #115
Can you provide more details @acidmax76 ?

[2017-05-17 09:30] acidmax76 commented on #115
i try compile like @Joannis wrote, create spm inside my project, then swift package init, then add in Packege.swift   dependencies  MongoKitten, then run swift package generate-xcodeproj , then add spm.xcodeproj in main workspace , then choose all MogoKitten library in build phases and when i try build main project  i got error "build  failed" on MongoSocket.framework

[2017-05-17 09:38] Joannis commented on #115
@acidmax76 could you make a screenshot of the errors and/or post the entire error log?

[2017-05-17 11:07] acidmax76 commented on #115
sorry all work fine , i comment some stuf "...SSSlCert...." and build was complete

[2017-05-17 11:11] Joannis commented on #115
Ah. You're running this on iOS? I don't intend to support iOS besides database browsers since it's a *really* bad practice security wise.

[2017-05-17 11:15] acidmax76 commented on #115
yes i run it on iOS

[2017-05-17 11:18] Joannis commented on #115
For a Database Browser, or a normal application?

[2017-05-17 11:19] acidmax76 commented on #115
iam calling Server.getDatabases it's work . can i call any other method ?

[2017-05-17 11:27] Joannis commented on #115
I've written a tonne of tutorials on medium. [This one about BSON](https://medium.com/@joannis.orlandos/the-bson-basics-1e70dd72e393) is essential, and [this one about queries](https://medium.com/@joannis.orlandos/the-mongokitten-query-object-8de2964d1b23), too. Once you get the hang of those, [CRUD operations](https://medium.com/@joannis.orlandos/crud-operations-in-mongokitten-4-5e7ced766160) is

[2017-05-17 11:32] acidmax76 commented on #115
tnx

[2017-05-17 20:48] Obbut commented on #115
I think this is clear for now, so I'm closing the issue. If any of you still has a question feel free to open another one.

[2017-05-17 20:48] #115 closed

[2017-05-17 20:50] Obbut commented on #113
MongoKitten 4.0 (without the vaportls suffix) is released which no longer relies on external libraries (except OpenSSL) for TCP/TLS

[2017-05-17 20:50] #113 closed

[2017-05-17 20:50] Obbut commented on #111
Hey @Noobitious, is this still an issue with MongoKitten 4.0.4?

[2017-05-17 20:52] #94 closed

[2017-05-21 09:34] bushev opened #116 "How to pass params to the createIndex conditionally?"
Hi, guys!

I'm tried to create an index with `createIndex`. I don't know all index properties (like `unique`, `sparse`, etc) at a compilation time. So I need to pass these params conditionally.

I Googled about `Variadic Parameters` and how to convert an `Array` to `Variadic Parameters`. But it seems such conversion is not supported in Swift yet (correct me if I'm wrong). Also, I can't find an `ap

[2017-05-21 11:05] Joannis commented on #116
For this reason we have `collection.createIndexes` which is the more "raw" version of `createIndex`.
`createIndexes` will accept an array of indexes.

[2017-05-21 15:04] bushev commented on #116
Thank you! 👍

[2017-05-21 15:04] #116 closed

[2017-05-21 17:05] Joannis commented on #111
I'm closing this issue since we're not relying on CLibreSSL anymore

[2017-05-21 17:05] #111 closed

[2017-05-21 17:06] Joannis commented on #105
Does this work as expected in MK4 now?

[2017-05-21 19:46] zirinisp commented on #105
I have not done extensive testing, but so far had no problems.

On Sun, May 21, 2017 at 12:06 PM Joannis Orlandos <notifications@github.com>
wrote:

--
--

*Pantelis Zirinis*
www.paz-labs.com

27 Old Gloucester Street
London WC1N 3AX
United Kingdom

Tel: +44 203 129 0296 / +306945540033
E-mail: info@paz-labs.com
Facebook: http://www.facebook.com/PAZLabs

[2017-05-21 21:29] Joannis commented on #105
Can I close this issue, for now?

[2017-05-22 18:38] zirinisp commented on #105
Yes I believe you can safely close it. If I see it happen again, I will
update the issue.

Thank you very much for your help.

On Sun, May 21, 2017 at 4:29 PM Joannis Orlandos <notifications@github.com>
wrote:

--
--

*Pantelis Zirinis*
www.paz-labs.com

27 Old Gloucester Street
London WC1N 3AX
United Kingdom

Tel: +44 203 129 0296 / +306945540033
E-mail: info@paz-labs.com
Facebook: http://www.fac

[2017-05-23 07:15] #105 closed

[2017-05-24 13:27] sujaykakkad opened #117 "Locking database for crucial operations"
Is there any way I can do read and write locks in mongo while doing multiple mongo queries to ensure data consistency.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45528443-locking-database-for-crucial-operations?utm_campaign=plugin&utm_content=tracker%2F29950958&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2017-05-24 14:49] Joannis commented on #117
You an provide a ReadConcern and/or WriteConcern with your query depending on the operation.

You can apply them at collection and/or database-wide scale, too, by setting the `collection.readConcern`, `collection.writeConcern`, `database.readConcern` and `database.writeConcern` as necessary. Query provided concerns overwrite collection-wide,  which in turn overwrite database-wide.

More here: http

[2017-05-24 23:52] bushev opened #118 "Minimum supported version is 3.0.0?"
Hello, @Joannis!

README.MD states minimum supported version of MongoDB is **2.6**.

But I can find some commands available since version **3.0.0**, like:

https://docs.mongodb.com/manual/reference/command/listCollections/

So, minimum supported version is 3.0.0, that's correct?

[2017-05-25 08:12] Joannis commented on #118
There are also commands like $lookup which are 3.2 and above only and many other features.

We support MongoDB 2.6 and above, but also later versions. We cannot know on compile-time which server version you're connecting to, so we include 2.6, 3.0, 3.2 and 3.4 commands.

[2017-05-25 17:20] bushev commented on #118
Thank you!

[2017-05-25 17:46] bushev commented on #118
@Joannis , do I have an ability to get collection names from MongoDB v2.6? As I can understand I can't execute mongo shell commands, like https://docs.mongodb.com/manual/reference/method/db.getCollectionNames/ ?

[2017-05-25 19:29] Joannis commented on #118
I see, I've tried looking for a solution. But there are _no_ docs on implementing this. Do you know something that I could use for a reference maybe?

[2017-05-25 20:00] bushev commented on #118
I'm looking too, I have found, that mongo-c driver [uses](https://github.com/mongodb/mongo-c-driver/blob/r1.6/src/mongoc/mongoc-database.c#L896) quering for [<-database->.system.namespaces](https://docs.mongodb.com/manual/reference/system-collections/#<database>.system.namespaces) to fetch a collections list.

[2017-05-25 20:02] Joannis commented on #118
Oh, thanks! I'll fix it for MongoDB 2.6 and give you a heads up when it's implemented

[2017-05-25 20:05] bushev commented on #118
Maybe we can also add some interface for accessing any others [Mongo Shell](https://docs.mongodb.com/manual/reference/method/) commands?

[2017-05-25 20:09] Joannis commented on #118
(Almost) all of those commands are already available through the Swift API. Or do you mean accessing them using the Mongo Shell syntax (using JSON/JavaScript)?

[2017-05-25 20:44] bushev commented on #118
No, not for syntax. I mean accessing commands that are not available using Swift API, methods like `db.getCollectionNames()`.

[2017-05-25 23:10] bushev opened #119 "Milliseconds are truncated"
Steps to reproduce:

1. Initially, I have a data like: `{"createdAt": "2017-01-17T15:04:20.985Z"}` in my MongoDB.
2. Due to this [`"yyyy-MM-dd'T'HH:mm:ssZZZZZ"`](https://github.com/OpenKitten/MongoKitten/blob/mongokitten4/Sources/ExtendedJSON/ExtendedJSON.swift#L19) formatting application receives Date without milliseconds information.
3. Finally, milliseconds will be lost on save.

From my point

[2017-05-26 06:45] Joannis commented on #118
If you find anything that's not implemented, you can create an issue :)

[2017-05-26 07:10] Joannis commented on #118
Collections can be listed in the last commit. Waiting for CI to pass and I'll tag 4.0.7 next.

[2017-05-26 07:10] Joannis commented on #119
I'm looking at how I will implement this without breaking expected behaviour for other people. I'll make sure it's possible, though.

[2017-05-26 08:06] Joannis commented on #118
Tagged

[2017-05-26 08:31] bushev commented on #119
For instance we can introduce some compilation flag to define that.

[2017-05-26 08:38] Obbut commented on #119
We aren't generally fans of compilation flags but a global (runtime) parameter would be an option I think. However, in my opinion this would not be a breaking change, because the output date format is still ISO8601. I'm fine with changing this in a minor.

[2017-05-26 10:25] sujaykakkad commented on #117
I guess readConcern and writeConcern is used for replica sets. How can it help to lock collection in single mongod instance.
eg.
I have 2 collections
customers
[code]
orders
[code]
now if a customer places order I will have an api
POST /orders
[code]
The api will use 2 queries
1)Check if the customer exists in customers collection
2)Insert to orders collection

If in step 2 some parallel request d

[2017-05-26 10:34] Joannis commented on #117
MongoDB usually has a writeahead log, so it'll tell you that the insert operation was completed but it's really in the writeahead log, not yet written to the collection.

WriteConcerns can modify this behaviour to only tell MongoKitten "insert operation was completed" *after* it was written to the collection, so when it's not in the writeahead anymore.

As for locking a collection against write op

[2017-05-26 10:36] Joannis commented on #119
Cool. I'll be adding this feature to ISO8601's serialiser and parser.

[2017-05-26 11:38] sujaykakkad commented on #117
Sure you can copy this issue.

[2017-05-26 11:41] sujaykakkad commented on #117
But locking is such a crucial part in mongo as it doesn't provide transactions. How can I handle this example which I mentioned in mongo? Also I will have multiple api servers accessing same database so using I cannot use lock on application layer.

[2017-05-26 11:46] sujaykakkad commented on #117
Also there is a documentation on concurrency
https://docs.mongodb.com/manual/faq/concurrency/

[2017-05-26 12:23] sujaykakkad commented on #117
Or for such use cases I will have to use relational database

[2017-05-26 12:23] Joannis commented on #117
For cross-application locks you *could* use Redis. In my tests redis was very simple and performant.
As for the documentation, it specifically states locks are not multi-document. So locks are for single read-write operations.

Alternatively, what I *can* find is this: https://docs.mongodb.com/manual/tutorial/perform-two-phase-commits/

I think this is something we could support in MongoKitten in

[2017-05-30 13:14] sujaykakkad commented on #117
Two phase commit is very difficult to implement even in only two document transactions. In cases where there are more than two documents this method will be highly complicated. Is there any way mongo will release transactions in near future?

[2017-05-30 14:46] Joannis commented on #117
I highly doubt it

[2017-05-30 23:26] bushev commented on #118
Works great!

[2017-05-30 23:26] #118 closed

[2017-05-31 06:35] Joannis opened #120 "TODO: Full test suite according to spec"
https://github.com/mongodb/specifications

[2017-06-02 14:27] bushev opened #122 "Exporting large number of documents cause memory problem"
Hello!

I'm trying to export a large number of documents. But getting memory exhausted error. What I'm doing wrong? Do I need to clear something on each iteration?

[code]

[2017-06-07 10:20] #117 closed

[2017-06-07 10:25] sujaykakkad opened #123 "Safely sorting array of documents"
I have an array of documents and I want to sort them based on some string parameter.
eg:
[code]
This is working but I have to force cast it with exclamation. Is there a way to gracefully sort the documents.

[2017-06-08 10:31] Joannis commented on #123
Yes, although this isn't exactly a MongoKitten/OpenKitten issue. This is part of Sequence and thus the swift language rather than our ecosystem/libraries.

You'll need to either accept in your comparison that either or both of them can be optional, or flatMap the values to type-safety.

[2017-06-09 08:21] #123 closed

[2017-06-09 08:23] sujaykakkad opened #124 "Mongo not connecting with username and password for authentication on Linux"
[code]

[2017-06-09 08:25] sujaykakkad commented on #124
[code]

[2017-06-09 14:43] sujaykakkad opened #125 "Cannot add Int64 values in Document"
[code]

It is throwing runtime error
[code]

[2017-06-10 11:51] Joannis commented on #125
Use `Int` instead. `Int64` == `Int` on 64-bit systems.

[2017-06-10 11:53] Joannis commented on #122
What is the size of a single document? Does it contain Binary data? These will factor in when converting to JSON.

[2017-06-10 11:54] Joannis commented on #124
I can't imagine this failing on our end, honestly. I'd need more details (verbose logging?) to say more.

[2017-06-10 16:50] bushev commented on #122
Hi, @Joannis!

Document size (avgObjSize) is 775 Bytes. It doesn't contain Binary data.

Document example:
![image](https://user-images.githubusercontent.com/7535766/27004660-8d33953a-4e15-11e7-87ff-e356c9fc44d2.png)

I have about ~224K of such documents. Application memory usage is about ~2GB before a crash (OOM).

[2017-06-10 23:45] Joannis commented on #122
Oh, that's bad. Is there any way you can reproduce this scenario? Or see what is consuming the memory?

[2017-06-12 05:59] sujaykakkad commented on #125
But If I have a 32bit server then it will be Int32 and that is why I have explicitly declared it as Int64. How can I assure that it will store a 64bit integer not matter what the type of system is (32bit or 64bit)?

[2017-06-12 07:17] Joannis commented on #125
I don't think there is any build of Swift I've seen on 32-bits except the raspberry Pi.

[2017-06-12 15:23] sujaykakkad commented on #125
Yup I guess I will have no problem in getting Int64 values as all the systems will be 64bit.

[2017-06-12 15:26] sujaykakkad commented on #124
I guess it was the problem with mongokitten3.
I upgraded the version to mongokitten4.
It is working on mac but failing on linux.
I am getting `invalidBuildInfoDocument` error

[2017-06-12 15:26] #125 closed

[2017-06-12 15:38] sujaykakkad commented on #124
The detailed error is here
[code]

[2017-06-12 18:37] bushev commented on #122
Hello @Joannis!

Looks like memory leaks in `makeExtendedJSON(typeSafe: true).serializedString()`.

![image](https://user-images.githubusercontent.com/7535766/27049096-eee6ba76-4fb6-11e7-9241-ea4d5178a32c.png)

I see that app allocates a lot of memory with this call stack:

![image](https://user-images.githubusercontent.com/7535766/27049211-3c8a6afc-4fb7-11e7-8619-35449635fb02.png)

[2017-06-12 18:48] Joannis commented on #122
Ah :| Thanks so much! I'll be onto this now

[2017-06-12 18:49] Joannis commented on #124
I've seen this before with a previous user. Whenever you're ready, you can poke me on slack. I'll need to know why the build info document is seen as invalid.

[2017-06-14 06:38] Joannis commented on #122
Could you try this with the latest BSON version? I think there was a memory leak there.

[2017-06-14 06:39] Joannis commented on #120
BSON has this implemented

[2017-06-14 19:48] bushev commented on #122
Hello @Joannis,

it's still leaks:

![image](https://user-images.githubusercontent.com/7535766/27150500-23ff02dc-5150-11e7-8ee7-cd0b18536810.png)

Used memory is released only after the completion of the loop over documents.

![image](https://user-images.githubusercontent.com/7535766/27151468-52428774-5153-11e7-8cef-d8a433a1c1d2.png)

You can reproduce this scenario using the following code (using

[2017-06-15 05:42] Joannis commented on #122
That makes sense! Images (binary) will be converted to Base64 in ExtendedJSON. That takes an insane amount of memory probably.

[2017-06-15 06:19] bushev commented on #122
There are no binary fields in the image collection, strings and numbers only.

[2017-06-15 06:31] Joannis commented on #122
Hah. I'm still diving in anyways. Even with Base64 the RAM usage would be insane. This isn't making it any better. I don't know how it can rise 600MB even.

[2017-06-15 11:59] Joannis commented on #124
Fixed in 4.0.10

[2017-06-15 11:59] #124 closed

[2017-06-16 08:29] Joannis commented on #122
I found _some_ improvement points. But I'm still struggling to find out the exact cause.

[2017-06-16 14:01] Joannis commented on #122
There were memory leaks, so your memory leak checks are correct. But the huge amount of memory being used isn't leaking. It's the conversion from BSON->JSON that's slow. Conversion can't become any faster, but I can write a specialized serialization algorithm.

[2017-06-16 16:16] Joannis commented on #122
The latest version on master has a new API for extendedJSON. It's not tagged yet, we're going to run this version of MongoKitten on production systems before tagging this. It's working, but MongoKitten has had 2 of the lowest internal functions reworked, so taking extra care is important.

It's tested to be fine, so if you want you can run `swift package edit MongoKitten --revision mongokitten4` a

[2017-06-16 18:36] bushev commented on #122
Great, I will test new extendedJSON soon. Thanks!

[2017-06-17 11:37] bushev commented on #122
Sad news, unfortunately, new API was not solved memory problem. But also application doesn't release all memory after loop finished...

I used new extendedJSON function:

[code]

![image](https://user-images.githubusercontent.com/7535766/27252558-172a5554-536a-11e7-9d01-4bca58bc8ed5.png)

[2017-06-17 11:42] Joannis commented on #122
Oh man.. is this a new issue? The memory not being released?

I don't know what could possibly be causing this.
You're still running this with the `testExport` function described above, right?

[2017-06-17 11:43] Joannis commented on #122
I can't even start to imagine this happening. Locally it reduced the memory usage by 95%.
I feel like there's something off about your documents or code that I can't foresee.

[2017-06-17 12:04] bushev commented on #122
My test function (I updated descriptino as well):

![image](https://user-images.githubusercontent.com/7535766/27252716-c722b93a-536d-11e7-8839-4d73d67bc2cd.png)

Memory is not released after "Done" is printed:

![image](https://user-images.githubusercontent.com/7535766/27252711-b5a58070-536d-11e7-828c-766535b1da32.png)

Did you able to reproduce it with my `testExport` function?

[2017-06-17 12:05] Joannis commented on #122
I was able to reproduce high memory usage and tiny memory leaks. Nothing significant. If you want to help me accelerate the solution you could join my slack https://slackpass.io/openkitten

[2017-06-24 18:45] bushev commented on #122
I can confirm that my issue is resolved.

Fixed in: https://github.com/OpenKitten/MongoKitten/commit/1973a4751d0197538251b9353c618a0edfbfa737

[2017-06-24 18:45] #122 closed

[2017-06-24 19:57] #102 closed

[2017-06-25 10:36] #82 closed

[2017-06-25 15:41] shanehsu opened #126 "[Improvement] Support for `Codable` in Swift 4?"
`Codable` seems to be easier to implement if the user want to read/save with his own custom Swift data type. Off the top of my head, this at least requires a custom implementation of `Encoder` and `Decoder` to directly encode/decode BSON bytes (without writing to a BSON `Document` first)

Any comments and suggestions are welcome!

[2017-06-25 21:32] Joannis commented on #126
We already have it, but we're not tagging it yet since the code is messy and Swift 4 is still not a GM.

[code]

As you see, you can explicitly set a branch in Swift 4's SPM, it'll make use of the `swift4` branch of BSON using this, so you can use the `BSONEncoder` and `BSONDecoder`.

Alternatively, you can put the package in editable mode using `swift package edit BSON --revision=swift4`. Either

[2017-06-25 21:33] Joannis commented on #126
Oh, one more thing; Using lazy cursor transforms you can decode BSON documents directly to your models.

[code]

[2017-06-25 22:26] shanehsu commented on #126
@Joannis Out of curiosity, is this implemented in BSON or MongoKitten? Also, is there a documentation group working on docs? The [link on OpenKitten](http://openkitten.org/docs.html) is unreachable.
Using MongoKitten on my school project, and loving it!

[2017-06-26 00:55] Joannis commented on #126
It's implemented in BSON. I've heard and seen that the openkitten website is broken in multiple places. I can't update the website properly since half of my developer tools broken on high sierra. MongoDB, Swift and Xcode still work, though ;)

[2017-06-26 00:55] #126 closed

[2017-06-26 03:34] shanehsu commented on #126
Does MongoKitten has complete documentation other than Dash docset? When I started using it, I feel the documentation is quite lacking and disappointing. I had to Google most stuff, or follow the debugger.

[2017-06-26 03:39] shanehsu commented on #120
By just scanning through the [folder names](https://github.com/mongodb/specifications/tree/master/source), around two belongs to BSON, the rest is MongoKitten territory?

[2017-06-26 06:45] Joannis commented on #126
Most of it will be explained here: http://beta.openkitten.org . Beta hasn't been moved to http://docs.openkitten.org since I wasn't able to adjust the template yet. I want to have both the MK3 and MK4 docs available, so MK4 is under beta.

[2017-06-26 07:02] Joannis commented on #120
Yes. But the MongoKitten tests are quite tedious to implement. I want to write a tool that takes these JSON tests and generates Swift tests for them. Otherwise it'd take me weeks.

MongoKitten tests already cover a huge chunk of the what the specification covers, so stability wise we're quite decent.

I did do BSON manually, and first. Since BSON is *the* most important part of MongoKitten. Everyt

[2017-06-28 03:50] chariot6 opened #127 "Mongo Atlas connection issues on Linux"
Attempting to connect to Mongo Atlas with Linux sometimes results in:

```fatal error: Error raised at top level: MongoKitten.MongoError.noServersAvailable: file /home/buildnode/disk2/workspace/oss-swift-3.1-package-linux-ubuntu-16_04/swift/stdlib/public/core/ErrorType.swift, line 1881```

[2017-06-30 16:18] bushev commented on #119
It seems it's still not supported.

[2017-07-01 13:12] Joannis commented on #119
Latest MongoKitten 4 has it. `swift package edit MongoKitten --revision mongokitten4` will let you use it. I'll tag it soon, but I want one more pair of commits in the next tag

[2017-07-01 13:51] Joannis opened #128 "Better Swift 4 support"
- [x] Make an encoding helper on Cursor<Document>
- [x] Make an encoding helper on CollectionSlice<Document>
- [x] ExtendedJSON Encoder
- [x] ExtendedJSON Decoder
- [x] Encoding using Cheetah.JSONEncoder
- [x] Encoding using Cheetah.JSONDecoder
- [ ] Encoding docs

[2017-07-01 16:53] Joannis opened #129 "Better errors"
Add better debugging to errors, be more clear

[2017-07-02 09:40] bushev commented on #119
Yeah! 👍

[2017-07-02 09:40] #119 closed

[2017-07-05 14:26] robert-joosen opened #131 "Array with documents from collection"
[code]

[2017-07-07 01:37] plummer commented on #127
Any further updates on this @chariot6 ?

[2017-07-07 03:00] plummer commented on #127
Note, immediately after switching from compose to atlas I'm got the error:
`Identifier: Sockets.SocketsError.writeFailed)`
`Server error: dispatch(Sockets Error: Failed to write from socket`

[2017-07-07 03:23] chariot6 commented on #127
No updates yet. I haven't really had the chance to investigate it, to be honest. If I have the time to spare soon, I'll be sure to post what I find.
---
I haven't tried it with Compose. With Atlas it's pretty random. When I wrapped the connection logic in a do-catch that was nested inside a loop, I think I was running into the error about half of the time.

[2017-07-07 06:38] Joannis commented on #127
Hello :) Correct, MongoDB atlas differs from other hosts in that it requires the SNI to be defined. Something I don't think works well on Linux

[2017-07-22 11:19] Joannis opened #132 "Given enough replies in a cursor, a stack overflow can happen"
https://github.com/OpenKitten/MongoKitten/blob/mongokitten4/Sources/MongoKitten/Internals/Message.swift#L476

[2017-07-24 11:56] Joannis opened #133 "Better async support through schrodinger"

[2017-07-25 15:53] #133 closed

[2017-07-27 21:33] tfrank64 commented on #108
@Joannis Is there any update on this?

I have run into the same issue I believe using MongoKitten 4.0.11. I have a PEM certificate that works well on Linux when using the following init:
`SSLSettings(enabled: true, invalidHostNameAllowed: true, invalidCertificateAllowed: true, CAFilePath: "/tmp/mycert.pem")`

On macOS though, I get "cannot connect" errors, even when I convert that PEM file to a `.

[2017-07-27 22:27] Joannis commented on #108
The plans are there, but I don't have a test setup yet for this

[2017-07-28 00:18] Joannis commented on #108
I also had to implement X.509 with a bit of luck. I implemented it using an example for OpenSSL which seemed to work from the get-go. macOS' Security Framework didn't have clear examples and I had to find something from the little docs there were. If you at IBM have a test server that I could use for this feature (and maybe some knowledge surrounding X.509 and macOS Security) that's be a great hel

[2017-07-28 00:19] Joannis commented on #127
Should be fixed.

[2017-07-28 00:19] #127 closed

[2017-08-20 10:57] bushev opened #134 "Able to connect to Atlas with a wrong password"
Hello, Joanis!

I able to create a client to MongoDB Atlas even if the password is wrong.

Expected: Connect error
[code]

Actual: Success connect

Code example:

[code]

[2017-08-20 11:15] Joannis commented on #134
Should work in the latest commit. Will tag 4.0.15 later today

[2017-08-29 05:22] duncangroenewald commented on #27
Hi, I am trying to do something similar but this solution is not working for me.

My document looks like this:

{"updated":{"$date":"2016-01-16T17:58:45.171+11:00"},
 "name":"XXXX",
 "status":true,
 "_id":{"$oid":"57297a76b30bbf896e0a1c55"},

 "groups":[
	{"name":"Configuration Testing",
	 "allow_auto_approval":false,
	 "_id":{"$oid":"5699ea252529119457a40a67"},
	 "expected_users":30,
	 "code":"63

[2017-08-29 08:51] Joannis commented on #27
@duncangroenewald this is older MongoKitten syntax. Nowadays we're extracting using initializers.

http://beta.openkitten.org/bson/BSON/

[2017-08-29 10:15] duncangroenewald commented on #27
Can you provide an example of how to extract a subdocument from data returned from MongoDB - sorry I couldn't find any explanation of how to do this at the link above.

[2017-08-29 10:29] Joannis commented on #27
[code]

I want to expand this API for MongoKitten 5 to contain:

[code]

and

[code]

[2017-08-29 10:34] duncangroenewald commented on #27
Cool - thanks for that.

[2017-09-06 05:01] raomshauty opened #135 "MyApp(22717,0x70000b073000) malloc: *** error for object 0x1545024f0: pointer being freed was not allocated *** set a breakpoint in malloc_error_break to debug"
MyApp(22717,0x70000b073000) malloc: *** error for object 0x1545024f0: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug

This happens in the attached highlighted line of code inside Socket.swift on line 281.

This only happens when I kick off many simultaneous threads inside an operation queue.  If I only do one at a time I do not see this.

The query I am d

[2017-09-06 11:29] Joannis commented on #135
Thanks for reporting! Is it possible for you to provide a reproducible example?

[2017-09-06 21:59] raomshauty commented on #135
Thank you for your help, here is the code.

The matchingQuery is a wrapper class that contains the values of limit, batch size, and skip params I have built a UI to select from.

What the code does:

- establish connection
- create operation queue using max procs -- (note -- one thing to throw into the mix here is I have a 12-core mac pro, very fast.  And this is currently reproducing doing 4 quer

[2017-09-06 22:13] raomshauty commented on #135
Also, FWIW when it crashes there are a ton of threads in and around the reserveConnection function.

[2017-09-09 01:04] raomshauty commented on #135
Let me know if you'd like any more information or to try anything...  Currently lots of performance to be gained if I could parallelize this.

[2017-09-10 13:52] Joannis commented on #135
Sorry for the late replies. This is an insanely tough problem to "patch". It requires a tough rewrite of the connection pool I had planned for MongoKitten 5.

[2017-09-10 19:02] raomshauty commented on #135
No worries, so you're able to repro then?  Is there anything else you need from me and/or is there any hacky workaround that you know of?

[2017-09-10 21:10] Joannis commented on #135
It's an issue that's been on my radar for longer, only now it's really concrete where and what the issue is.

The "workaround" isn't really hacky. Limit the maximum amount of connections more. 5-20 should be more than enough. This will reserve up to the limitation in connections. Each connection can do (off the top of my mind) 10 simultaneous requests per connection by default. If you want more co

[2017-09-11 08:25] Tigleo opened #136 "build fail on download dependencies"
MongoDb/AppDelegate.swift:9:8: error: no such module 'UIKit'
import UIKit
       ^
<unknown>:0: error: build had 1 command failures
error: exit(1): /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift-build-tool -f /Users/name/Desktop/MongoDb/.build/release.yaml

Why??

[2017-09-11 08:27] Joannis commented on #136
This isn't a MongoKitten issue. MongoKitten uses SPM and fetches it's dependencies through that.

If you want to use MongoKitten in a macOS GUI application you'll need to create a project using MongoKitten, generate an xcodeproject using SPM (`swift package generate-xcodeproj`) and add that to your app's .xcworkspace

[2017-09-11 08:35] Tigleo commented on #136
so the manual import?

[2017-09-11 08:37] Joannis commented on #136
MongoKitten needs to be downloaded using SPM to download the MongoKitten dependencies. If you've got an SPM (Swift Package Manager) project you can generate an Xcode project using the above command. This project can then be added to your app's xcworkspace

[2017-09-15 00:35] viniciusarre opened #137 "Swift Compiler Error"
Hello. I'm running xCode 8.3.3 and Swift 3.1 and I'm developing for universal targets.

Every time I tried using it (I even followed a tutorial on "https://medium.com/@joannis.orlandos/setting-up-mongokitten-4-9a8bf8b2ad09"), I get a Swift Compiler Error in the MongoSocket Target right in this line:

`guard SSLSetCertificateAuthorities(context, cert, true) == 0`, which is nested in
`
 if let path

[2017-09-15 01:05] StevenQin1996 opened #138 "use of unresolved identifier 'SSLSetCertificateAuthorities'"
Hi, I'm using MongoKitten for a school project.
After I installed it to my project, it got this error: "use of unresolved identifier 'SSLSetCertificateAuthorities' ", under mangoSocket --> Socket.swift.
<img width="1426" alt="screen shot 2017-09-14 at 8 04 30 pm" src="https://user-images.githubusercontent.com/21960350/30461977-ff0ea9ca-9987-11e7-9f2f-311351d881eb.png">
Could you give me a little h

[2017-09-15 07:13] Joannis commented on #138
MongoKitten is designed for macOS and Linux (on the Server). In most scenarios it's not recommended to connect to MongoDB directly from an iPhone for security reasons. Users can disassemble the application and read the database credentials.

[2017-09-15 07:15] Joannis commented on #137
Are you compiling MongoKitten for iOS? It's not recommended ( as I mentioned in #138 ).

Otherwise, the code you pointed to actually has a bug (and is not adding functionality). So I'm tagging a version without that code once the unit tests are verified on macOS and Linux.

[2017-09-15 08:06] viniciusarre commented on #137
Oh ok, I'm quite new to Swift, could you give me a hint on how I would do that without compiling it?

[2017-09-15 08:28] Joannis commented on #137
You can't. Swift is a compiled language. But are you using MongoKitten for iOS?

[2017-09-15 08:31] viniciusarre commented on #137
Yes

[2017-09-15 08:33] viniciusarre commented on #137
Could you show me an example on how it would work?

[2017-09-15 08:34] Joannis commented on #137
It would work with the code I'm pushing once the CI is showing a success.

But why are you running MongoKitten on iOS, if I may ask?

[2017-09-15 08:36] viniciusarre commented on #137
Well, I am developing an app which I want to connect with a mongodb database... I got it that I can't compile it to the project directly, but I don't know how not  to... I'm quite new to Swift and I need to get this integration out of the way...

[2017-09-15 08:38] viniciusarre commented on #137
Since I have a complex back-end to my project, I believe that mongo is the database that best fits its needs...

[2017-09-15 09:49] Joannis commented on #137
Tagged as 4.0.15

[2017-09-15 09:49] #137 closed

[2017-09-15 19:15] StevenQin1996 commented on #138
Thanks Joannis.

On Fri, Sep 15, 2017 at 2:13 AM, Joannis Orlandos <notifications@github.com>
wrote:

--
Shiyun (Steven) Qin

[2017-09-17 11:34] duncangroenewald opened #139 "The MongoDB response wasn't expected. [{"code":13,"ok":0.0,"errmsg":"not authorized on XXX"
This error occurs when trying to connect to a MongoDB v2.6.12 database.

Using the same credentials works fine using Studio 3T and when connecting to a MongoDB v3.4 database.

[2017-09-17 11:36] Joannis commented on #139
MongoKitten doesn't support MongoDB 2.6 as it's not supported by MongoDB itself either. We can technically communicate with MongoDB 2.6 but many issues are really tough to fix or support for MongoDB 2.6.

[2017-09-17 11:37] Joannis commented on #139
What authentication mechanism are you using? This issue specifically should be working, though. It's likely regression due to the inability to actively test this feature for 2.6.

[2017-09-19 17:33] meghanarora opened #140 "Not able to successfully set up MongoKitten"
I have not yet been able to successfully set up MongoKitten on my swift app, when building I get the following error.

any idea what may be causing this?

<unknown>:0: error: no such file or directory: '/Users/Meghan/Desktop/Swift Practice/TestMongo/Packages/MongoKitten-3.2.3/Sources/MongoKitten/Auth/Database+Authentication.swift'
<unknown>:0: error: no such file or directory: '/Users/Meghan/Deskt

[2017-09-19 20:47] Joannis commented on #140
How did you attempt to install/add MongoKitten?

[2017-09-20 02:51] meghanarora commented on #140
I added it to Package.swift and did an update

[2017-09-20 07:09] Joannis commented on #140
What did you add to Package.swift? Just so I can reproduce it.

[2017-09-22 07:02] flufff42 opened #141 "Add support for QueryFlag bit 2"
While attempting to use MongoKitten to query a replica slave I ran into the following error:

[code]
The solution for which according to the [MongoDB Wire Protocol](https://docs.mongodb.com/manual/reference/mongodb-wire-protocol/index.html) documentation would be set the following bit in the operation flags:

As a workaround I manually added this in
https://github.com/OpenKitten/MongoKitten/blob/a

[2017-09-22 09:59] Joannis commented on #141
Thanks for such a complete, well researched issue. Really well done! I'd love to see a PR 👍

[2017-09-23 04:11] meghanarora commented on #140
![screen shot 2017-09-23 at 12 11 43 am](https://user-images.githubusercontent.com/12651785/30769988-cf122dba-9ff3-11e7-893a-ca227754f681.png)

[2017-09-23 09:44] Joannis commented on #140
Which Swift version is this? MongoKitten 3 was written for Swift 3.0 and above. The Package.swit looks fine. But the behaviour looks like Swift 2.x.

[2017-09-29 11:31] j4nos opened #142 "How to send founded JSON records to client?"
https://stackoverflow.com/questions/46487838/mongokitten-how-send-founded-records

[2017-09-29 14:11] #142 closed

[2017-10-01 10:41] shanehsu commented on #134
@bushev Please close the issue if the problem's gone!

[2017-10-01 10:57] bushev commented on #134
Yes, it fixed.

[2017-10-01 10:57] #134 closed

[2017-10-01 18:14] Joannis commented on #134
@shanehsu You tried contributing to BSON (on a feature that was already completed) and are now contributing here 👍 thank you!

I'm not sure if you've seen our [community section](https://github.com/OpenKitten/MongoKitten#community) or more specifically [our slack](https://slackpass.io/openkitten)? If you're willing to contribute I'm happy to help you get started. I could use some help with MongoKi

[2017-10-06 21:10] mgiroux commented on #106
This is still a problem in version 4 i am loading about 40 records and it takes 10-12 seconds.. it's ridiculously slow

[2017-10-06 21:35] Joannis commented on #106
@mgiroux are you sure this is MongoKitten being slow? I'm fetching hundreds of thousands of records/second if I try to stress it.

[2017-10-06 21:36] Joannis commented on #106
What kind of records are you downloading? Can you give some more details?

[2017-10-07 00:35] mgiroux commented on #106
im downloading records that have about 12-15 properties. From that im fetching its owner (another document) and "replies" which are documents of the first type and it's owners.. so let's say im doing about 10-15 calls (that requests about 20-25 record per call) and with Redis i get 4.5sec for that. without it's passed 10 seconds.

[2017-10-07 01:06] mgiroux commented on #106
i ran a simple test.. 10 000 records, 4 seconds for 10k .. so hundreds of thousands in 1 sec.. very doubtful (on a macbook pro 2015)

[2017-10-07 09:35] Joannis commented on #106
Are you running on debug mode? Or release? Because this makes a **huge** amount of difference (upwards of factor 200)

[2017-10-08 17:10] mgiroux commented on #106
release

[2017-10-16 22:23] natanrolnik opened #143 "incorrectCredentials in remote server"
Hi! Thanks for this great package.

While developing a server side app locally, I had no problem. The MongoDB connection was open without any problem.

However, I'm deploying my app to a server (I've tried using Dokku on Ubuntu and also Heroku, both with the [Swift Buildpack](https://github.com/kylef/heroku-buildpack-swift)), and to my surprise, the exact same code gives the following error:

`fat

[2017-10-16 23:54] natanrolnik commented on #127
Not sure if it’s related, but when I deployed my app to a Linux instance, I had problems connecting to Atlas as well. See #143

[2017-10-17 08:40] Joannis commented on #143
Which MongoKitten version is this? #127 which you referenced showed this problem and was fixed in 4.0.11

[2017-10-17 09:30] natanrolnik commented on #143
@Joannis I'm using MongoKitten 4.1.1

[2017-10-20 15:29] danielpater opened #144 "Memory leaks in 4.1.1?"
Hi Joannis,

thank you for your great packages and for adding Codable encoder/decoder support to your BSON library recently.

Unfortunately, I'm running into memory issues with MongoKitten 4.1.1 while processing large datasets. I'm wondering if MongoKitten has memory leaks that might be the reason for my problems since XCode Instruments reports leaks related to MongoKitten (even though I'm not rea

[2017-10-20 16:27] Joannis commented on #144
Where do the leaks occur? I see IndexTrieNode inside a `getBuildInfo`. The build info document is stored inside the `Database`/`Server`. So that'll always be allocated. I'll definitely look into this since the many GBs mustn't occur, obviously. Do you have a concrete "process" that will generate memory leaks?

[2017-10-20 19:37] danielpater commented on #144
Thanks for your fast reply. The leaks seem to occur during initialisation of Server, Socket, Database, Collection and Document classes. In the screenshot above in the stack trace, it occurred during Document.init, which in turn called "IndexTrieNode....".

To reproduce this, you only need to call `try Database("mongodb://user:pass@host:port/dbname")`. I did set up a minimal Package to test this.

[2017-10-21 09:03] Joannis commented on #144
I'm not finding many leaks. The few I am finding are the BuildInfo document and other data kept for communicating with MongoDB.

[2017-10-24 12:26] jalajap opened #145 "Mongokitten 4.0 : Working with regular expression"
I have an array of documents.Please let me know the following query will work for an Aggregate.

let theQuery:Query = Query(aqt: .in(key: “User.Name", in: ["/^aso/i”, "/^asso/i”, "/^arl/i”] ))
let doc:Document = ["_id":NSNull(),"content":["$addToSet": "$User"]]

let pipeline: AggregationPipeline = [
            .unwind("$User”),
            .match(theQuery),
            .group(groupDocument: doc)

[2017-10-24 13:12] Joannis commented on #145
You need a `RegularExpression` instead of a String

[2017-10-25 06:32] jalajap commented on #145
I have changed the regular expression like this,
let theQuery:Query = ["User.Name": RegularExpression(pattern:"/^aso/", options:.caseInsensitive)]

let doc:Document = ["_id":NSNull(),"content":["$addToSet": "$User"]]

let pipeline: AggregationPipeline = [
.unwind("$User”),
.match(theQuery),
.group(groupDocument: doc)
]

let result = try collection.aggregate(pipeline)

Still I am not getting the ex

[2017-10-26 08:40] jalajap commented on #145
Solved. Thanks

[2017-10-29 09:40] #145 closed

[2017-10-31 14:38] flufff42 opened #146 "Git tag confusion"
I have been attempting to use MongoKitten for some scripting, in particular with https://github.com/JohnSundell/Marathon

It seems that there are some old tags `5.0.0-beta1` and `5.0.0-obbut2` that don't seem to match the current GitHub releases.

However these cause some issues with tools using git tags to identify the most recent release.
Would it be possible to delete these tags?

[2017-10-31 14:41] Joannis commented on #146
Oh, definitely! I'll delete them right now 👍

[2017-10-31 14:42] Joannis commented on #146
Fixed 👍

[2017-10-31 14:42] #146 closed

[2017-11-10 22:02] tettoffensive opened #147 "InsertError unclear (same insert works in Robo3T with JavaScript)"
I'm doing an insert on with a simple document that just has 2 strings

[code]

[code]

I get `The operation couldn’t be completed. (MongoKitten.InsertErrors error 1.)`

I copied the results of `print(document)` and tried it in Robo3T

[code]

And it worked. And I'm able to use `findOne` in MongoKitten to find that element now. And all my other queries work.

I'm just not sure how to debug this if

[2017-11-11 09:30] Joannis commented on #147
I'm not certain what the issue is reading just this. I'd suggest catching the error.

[code]

[2017-11-13 17:35] tettoffensive commented on #147
@Joannis Thanks, I've tried that, but it's not really helpful.

This is what I get:

[code]

`successfulIds` makes me think that the insert worked, but it doesn't actually do the insert.

[code]

[2017-11-13 17:38] Joannis commented on #147
the insert did work then. I'm not sure why it's throwing an error, then. But it does look like it successfully inserted the entity. Did you verify manually if the entity exists?

[2017-11-13 17:42] tettoffensive commented on #147
Unfortunately, the entity does not exist in the collection.

[2017-11-13 18:03] Joannis commented on #147
I'm not sure then. I cannot look into this more deeply now. I'll pick this up in an hour or two or tomorrow morning. Is this result consistently reproducible?

Does this error occur locally or on a replica/sharded cluster? Do you know which MongoDB version it is? (MongoKitten has some MongoDB details inside `server.buildInfo`)

[2017-11-13 18:20] tettoffensive commented on #147
Yes, it happens every time. The error is local.

[code]

[2017-11-13 19:19] Joannis commented on #147
The MongoKitten version is obviously incorrectly recorded 😬 Looks perfect. I'll try to reproduce this

[2017-11-14 12:02] Joannis commented on #147
Are you using the same user, collection and database in Studio3T and MongoKitten? I'm not able to reproduce the error, all is working here with no signs of problems.

[2017-11-14 16:20] tettoffensive commented on #147
Yes. I am using the same one. It’s confusing because all my other queries
seem to work ok 👌. I tried an update on the same collection and also got
an error. However findOne on that collection works fine. And update on
other collections work.

It’s a little challenging to debug since lldb is giving me an auto-import
error on the command line. I’ll investigate further today.
On Tue, Nov 14, 2017 at

[2017-11-14 16:22] Joannis commented on #147
It seems like you're lacking write permissions on this user, somehow. I know you said you're running locally, but did you mean that *MongoKitten* is local or is the MongoDB database local?

If the database is a replica/sharded cluster, maybe MongoKitten is trying to query a read-only node (in the replica)?

[2017-11-14 17:52] tettoffensive commented on #147
It does seem like that. I'm connected to: `mongodb://localhost/mydatabase`. I'm not using any username or password for localhost. And I'm able to write to other collections in the database.

Is there such a thing as per collection write permissions?

[2017-11-14 18:57] tettoffensive commented on #147
After much trial and error I have discovered the issue!

My `Document` was malformed - even though when you `print(document)` the appearance was the same. That's why when I copied and pasted it, the query worked. But I guess it was being seen as an array or something that made it not look like a singular object.

I had
[code]

And I changed it to `= Document()` to make it work

[code]

[2017-11-22 14:47] zololol opened #148 "Error with SSL while building"
Hello im getting this error could you please help me?

I'm compiling on Ubuntu 16.04 LTS with Swift version 4.0.2 (swift-4.0.2-RELEASE) installed via
[code]
[code]

[2017-11-22 14:57] zololol commented on #148
Reinstall openssl solved problem with apt-get

[2017-11-22 14:57] #148 closed

[2017-11-22 17:23] Joannis commented on #148
For future people looking at this comment: You need to install both `libssl-dev` and `openssl`. `openssl` is usually installed by default on ubuntu, though

[2017-11-28 10:41] #128 closed

[2017-11-28 10:45] Joannis commented on #135
MongoKitten 5 will rework connections, as stated previously. This is no longer an issue. MongoKitten 5 is being designed with asynchronous programming in mind. I'll close this issue.

[2017-11-28 10:45] #135 closed

[2017-11-28 10:46] Joannis commented on #140
Is this still an issue?

[2017-12-02 02:30] plummer opened #149 "Weight not supported for text indexes"
Hey @Joannis,

I noticed weights are not supported for text indexes. I thought I can do a PR to fix this up, but there seems to be a note about it above. Any brief details you want to shoot over before I create one to potentially avoid some incorrect / wasted work?

https://github.com/OpenKitten/MongoKitten/blob/7cece593d3421f103cbb183b15f8091218fd72a2/Sources/MongoKitten/Querying/Index.swift#L139

[2017-12-02 11:48] Joannis commented on #149
I don't think there's anything special you'd need to know. A PR would be awesome!

[2017-12-17 16:51] shanehsu commented on #147
@Joannis Seems resolved, close?

[2017-12-17 18:18] Joannis commented on #147
You 👍

[2017-12-17 18:18] #147 closed

[2017-12-22 09:45] kjati opened #150 "fetch documents sort by count MongoKitten(1.7)"

[2017-12-22 09:52] Joannis commented on #150
MongoKitten 1.7 is *really* old. I cannot support it anymore. It was written for the Swift 3 alpha stages at the time.

[2018-02-10 12:11] burf2000 opened #151 "Doing a find() to contain a substring (contains)"
Hi there

How would you do the following mongo statement in MongoKitten
db.users.findOne({"username" : {$regex : ".*son.*"}});

This looks for the word "son" in a string

[2018-02-12 20:46] burf2000 opened #152 "Sort not working with generated fields"
[code]
So, this query generates the textscore as score however I cant sort on it.  If it do $score in the sort it fails

[2018-02-12 22:08] Joannis commented on #152
This is not a MongoKitten issue. MongoDB sees `$score` as an operator of sorts, or a reference to another key.

[2018-02-13 09:09] burf2000 commented on #152
I can run the following on Mongo fine:
db.pages.find( {$and: [{$text: {$search: "ebay"}} , {"lang" : "en"} ] }, {score: {$meta: "textScore"}}).sort({score:{$meta:"textScore"}})

How would I do the same using MongoKitten?

[2018-02-16 12:03] burf2000 opened #153 "limitedTo not working"
I am trying to run some benchmarking tests so I want to limit the find to 1000 records

[code]
The print returns a count of 17696.  Am I misusing this command?

[2018-02-16 12:08] burf2000 commented on #153
Ok, so the amount of documents returned is 1000, but the count returns a different number?

[2018-02-18 19:56] burf2000 commented on #152
Hey @Joannis any chance you can help me with this as you wrote the framework, I asked on Slack, Stackoverflow etc. There seems to be very little documentation on sort

[2018-03-02 19:11] lauren2020 commented on #143
Was this issue ever solved? I am having the same problem.

[2018-03-03 12:54] HiroshiHorie commented on #78
I'm having the same issue... please tell me how you solved this ?
It's unbelievable that there are no re-connecting methods....

[2018-03-07 14:26] lauren2020 commented on #143
@Joannis

I have the same issue, I can connect to a local host but when I try to connect to through atlas I get an incorrectCredentials error, It seems to have something to do with this section:

[code]
This keeps throwing a -- Use of unresolved identifier 'SSLSetCertificateAuthorities' -- error. I commented it out and my local db worked fine but the atlas wont connect, I'm assuming the atlas conn

[2018-03-13 23:15] burf2000 opened #155 "The operation couldn’t be completed. (Schrodinger.ManualPromise<MongoKitten.ServerReply>.Error error 0.)"
Can anyone tell me what this error means? is it a timeout?

The operation couldn’t be completed. (Schrodinger.ManualPromise<MongoKitten.ServerReply>.Error error 0.)

[2018-03-14 06:30] Joannis commented on #155
There's an error nested in there which doesn't have a description yet. You can print it from the debugger to figure out what the error is.

[2018-03-14 08:11] burf2000 commented on #155
Thanks again :)

[2018-03-20 00:28] valeriomazzeo commented on #143
@Joannis I am experiencing the same issue.

v4.0.16 (latest compatible with Vapor 2)

Although when running from Xcode (macOS) I have no problem in connecting to Atlas.
When running on Linux (Ubuntu 14, with docker), I keep getting inconsistent errors:

[code]
Or
[code]

[2018-03-20 11:27] valeriomazzeo commented on #143
As I thought there was a memory leak on the hostname string. This has now been fixed in https://github.com/OpenKitten/MongoKitten/pull/157

@Joannis grateful if you could merge it and release a hot-fix.

[2018-03-20 14:54] jupiterbarua opened #158 "Schrodinger.ManualPromise<MongoKitten.ServerReply>.Error: Timed out after 85044449124722"
Hi, can anyone help me with this error please. I get this error while running docker container. Initially it works fine. But after serving a few queries it shows above error. After restarting the container it works and after sometime it gives same error.

[2018-03-22 05:55] jupiterbarua commented on #158
Due to redundant connection to the server this error was occurring.

[2018-03-22 05:55] #158 closed

[2018-03-25 23:42] honghaoz opened #159 "How could I use MongoKitten for Vapor 3 beta?"
I tried following package specifiers:
`.package(url: "https://github.com/OpenKitten/MongoKitten.git", .revision("a3e8cdf")),`
`.package(url: "https://github.com/OpenKitten/MongoKitten.git", .branch("master/5.0")),`

None of them work for vapor 3.

[2018-03-25 23:45] honghaoz commented on #159
NVM, just figured out the branch name.

`.package(url: "https://github.com/OpenKitten/MongoKitten.git", .branch("master/4.1")),` works.

[2018-03-25 23:45] #159 closed

[2018-03-26 09:20] Obbut commented on #143
I'm closing this issue now that the PR has been merged

[2018-03-26 09:20] #143 closed

[2018-03-30 22:48] natebirkholz opened #160 "Value of type 'UnsafePointer<Any>' has no member 'reversed'"
Using the brand new XCode Version 9.3 (9E145):

In CRUD.swift, in `func insert(documents:ordered:writeConcern:timeout:connection:)`, inside the nested `func throwErrors()` I am getting the error "Value of type 'UnsafePointer<Any>' has no member 'reversed'" on the line `for position in positions.reversed()`

It seems that the compiler is having trouble inferring the correct value type for that line

[2018-04-01 17:04] Joannis commented on #160
It was already fixed and tagged, but the tag was marked as 4.0.17 instead of 4.1.2
CC @Obbut

[2018-04-02 09:16] fruitcoder commented on #160
In addition I get a "Command failed due to signal: Abort trap: 6" during compilation of QueryBuilder. The module is included as a dependency of MongoProvider and I'm using the newest Swift 4.1 dev snapshot

[2018-04-02 09:24] Joannis commented on #160
That's correct, that issue was also originating from a small bit of Swift compiler regression. It seems to be unable to figure out unwrapping two different double-unwraps of enum cases with the same wrapped types.

[2018-04-02 09:25] Joannis commented on #160
Which MongoKitten version is downloaded locally?

[2018-04-02 14:05] fruitcoder commented on #160
4.0.17

[2018-04-02 14:37] natebirkholz commented on #160
I get 4.1.2 currently.

[2018-04-02 22:22] fruitcoder commented on #160
Weird, I'm getting it trough MongoDriver (dependency of MongoProvider)
<img width="154" alt="screen shot 2018-04-03 at 00 20 25" src="https://user-images.githubusercontent.com/5515849/38219244-047e9966-36d5-11e8-9b09-4057dc31d680.png">

[2018-04-02 23:16] Joannis commented on #160
Try updating, I just pushed a new version that should resolve this issue.

[2018-04-03 09:25] fruitcoder commented on #160
It still fetches 4.0.17 (`vapor fetch`)  :(

[2018-04-03 10:20] Joannis commented on #160
Try `vapor update` instead

[2018-04-03 10:43] Obbut commented on #160
As far as I know, MongoDriver has not been upgraded to MongoKitten 4.1, and its Package.swift still lists `.Package(url: "https://github.com/OpenKitten/MongoKitten.git", majorVersion: 4, minor: 0),`

[2018-04-03 10:47] fruitcoder commented on #160
Thanks @Joannis. I now have 4.0.19 (@Obbut works because it's not 4.1.*)

[2018-04-03 14:44] natebirkholz commented on #160
`vapor update` fetches 4.1.3 which fixes the issue, thanks @Joannis

[2018-04-03 15:34] icyield opened #161 "An empty json object/dictionary is encoded as an empty array. MongoKitten 4.1.2"
An empty dictionary is encoded as an empty array.  MongoKitten 4.1.2

The String ...
"{\n  \"updatedAt\" : \"1522766879624\",\n  \"_id\" : \"5ac3941f863e96c585ad58b8\",\n  \"tags\" : {\n\n  },\n  \"tagsUpdate\" : true\n}"

Ends up as.
 ▿ some : {"updatedAt":"1522766879624","_id":"5ac3941f863e96c585ad58b8","tags":[],"tagsUpdate":true}

The json object seems to be parse correctly.

- key : "tags"

[2018-04-03 15:48] Joannis commented on #161
Thank you for the report, I think I know where it's coming from already.

[2018-04-03 18:06] icyield commented on #161
Hi,
    actually I think it is trying to be too clever.   In the the String below, tags  is converted into an array too.  If  instead of "1":"2"  it is "one":"two" then everything is as expected.

Printing description of redisResult:
"{\n  \"updatedAt\" : \"1522766879624\",\n  \"_id\" : \"5ac3941f863e96c585ad58b8\",\n  \"tags\" : {\n\"1\":\"2\"\n  },\n  \"tagsUpdate\" : true\n}"

Printing descript

[2018-04-03 18:09] Joannis commented on #161
That's expected behaviour to some degree, I'm afraid, and cannot be fixed in the current MongoKitten version.

MongoDB Documents are a `[(String, Primitive)]` meaning they're both an array and a dictionary at the same time. You can subscript it like a dictionary which will get the element's primitive (right value) where the key (left value) is the same string.

However, the arrays are normally an

[2018-04-03 20:16] icyield commented on #161
hmmmm...   MongoDB (at least via Robo 3T) seems happy with
{
    "_id" : "5ac3941f863e96c585ad58b8",
    "tags" : {
        "1" : "2"
    }
}

via MongoKitten  that becomes
{
    "_id" : "5ac3941f863e96c585ad58b8",
    "tags" : [
        undefined,
        "2"
    ]
}

but larger numbers might cause issues!  "10":"2" becomes
{
    "_id" : "5ac3941f863e96c585ad58b8",
    "tags" : [
        undefine

[2018-04-03 23:38] icyield commented on #161
That is the json I get from Robo 3T when looking at the entry in mongoDB.
Because the code is interpreting "10":"2" as an array, it means to mongoDB an array of 11 element with element index 10 as 2. Other elements are undefined.

So for {"100":"2"} a 101 element array is generated!

[2018-04-06 11:49] Dev1an opened #163 "Change streams"
Is there support for [change streams](https://docs.mongodb.com/manual/changeStreams/)? If not: are there any plans to support it in the future?

[2018-04-06 11:49] Joannis commented on #163
Not yet, but I'm working on a big update which will have it

[2018-04-06 11:54] Dev1an commented on #163
Wow, that was a fast response time 😀😮.
Nice to hear about the update. Is it for next year/month/week?

[2018-04-13 10:17] KyeMaloy97 opened #164 "Swift 4.1 warnings persist in latest release"
Hello,

The latest release has a lot of warnings coming from both some external libraries (Cheetah, BSON etc) and also from MongoKitten itself. Is there any plan to fix these? I saw 4.1 was in the latest release log but if I clone that and build it on Swift 4.1 I still get the warnings.

Thank you!

[2018-04-13 10:18] Joannis commented on #164
It's not possible to fix these warnings in MongoKitten 4 since it would mean breaking all compatibility with older Swift versions for existing users. MongoKitten 5 will be Swift 4.1+ only and will not have these warnings.

[2018-04-13 10:39] KyeMaloy97 commented on #164
On our projects to maintain backwards compatibility, we tend to put the code in compiler if swift blocks like:

#if swift(>=4.1)
//do 4.1 code]
#else
//do 4.0.3 and below code
#endif

[2018-04-13 12:04] Joannis commented on #164
Considering the cause and locations of the warning this'll be a major maintainance burden

[2018-04-13 12:52] KyeMaloy97 commented on #164
That's a fair point, I will close this issue then. Thank you!

[2018-04-13 12:52] #164 closed

[2018-04-13 14:37] Joannis commented on #160
@lauren2020 please update to 4.1.3

[2018-04-18 20:50] icyield opened #166 "Detecting When MongoDB Server is down"
I was wondering what the recommended way of detecting/dealing with a mongoDB stop/start. I must admit mongodb is pretty stable but I need to still consider what to do. I call a reinit func to restart when I detect an Error .notConnected but this is complicated by the way MongoKitten behaves, if I cannot get a reconnection on the first error.

--------------
Some observation of 4.1.2 behaviour.

In

[2018-05-09 10:45] valeriomazzeo opened #167 "NotMasterNoSlaveOk"
I keep randomly getting this error, not sure what could be the cause:

`MongoKitten.MongoError.invalidResponse([{\"ok\":0.0,\"codeName\":\"NotMasterNoSlaveOk\",\"errmsg\":\"not master and slaveOk=false\",\"code\":13435}])`

Environment:
- Mongodb 3.4.14 (Cloud Atlas)
- MongoKitten 4.0.19

[2018-05-10 09:39] Joannis commented on #167
@valeriomazzeo It seems MongoKitten sent a query to one of the slaves. This is only possible for read queries where slaveOK is explicitly true. MongoKitten never sets slaveOK to true, so that explains the error. What query were you running?

[2018-05-10 11:54] valeriomazzeo commented on #167
I am not sure, as I was using Fluent, so this must be coming from the driver.
Also, restarting the web server fixed the issue. Any idea?

[2018-05-10 13:06] valeriomazzeo commented on #167
ok, so how could we prevent this to happen or to properly recover?

[2018-05-17 12:24] Obbut opened #168 "MongoKitten 5 improvements"
This issue is meant for tracking the progress and goals of MongoKitten 5. The comments on this issue may be used for discussing MongoKitten 5 development.

@Joannis and I have limited time to work on MongoKitten 5. If you are a MongoKitten user, you are encouraged to help wherever possible. This issue should provide a general overview of the tasks that need to be done for MK5, but if you're not su

[2018-06-05 08:10] valeriomazzeo commented on #167
@Joannis ?

[2018-06-05 10:22] Joannis commented on #167
You can shutdown MongoKitten's server object and it'll reconnect the next query.

[2018-06-05 12:32] valeriomazzeo commented on #167
I suppose when using mongo-driver with fluent it should be the driver to take care of this?

[2018-06-05 12:34] Joannis commented on #167
The Fluent driver, yes.

[2018-06-11 18:09] neallester opened #170 "Possible Thread Safety or Resource Exhaustion on branch 4.1 for OSX"
The following pull request includes a test which demonstrates the issue.

https://github.com/OpenKitten/MongoKitten/pull/169

[2018-08-10 21:01] Dev1an opened #172 "Support DNS Seedlist Connection Format"
Looking at the following lines, it seems that the DNS Seedlist connection format isn't supported yet.
https://github.com/OpenKitten/MongoKitten/blob/10f7befcdfac18cad8a752d6a6dd950512eb0151/Sources/MongoKitten/ConnectionSettings.swift#L126-L128

Are there any plans to support this feature? It is documented at: https://docs.mongodb.com/manual/reference/connection-string/#dns-seedlist-connection-for